{% extends 'base.html.twig' %}

{% block title %}Consumibles Historico{% endblock %}
{% block panelTitle %}Consumos de <span style="text-transform: capitalize">{{ cliente.nombre }}</span>
{% endblock %}
{% block titleButtons %}
    <a href="javascript:history.back();" class="btn btn-danger">Volver</a>
    <a href="{{ path('consumible_new') }}" class="btn-success btn">Nuevo Consumible</a>
    <a href="{{ path('consumible_imputar_view', {'id': cliente.id}) }}" class="btn-info btn">Imputar</a>
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row mb-4">
            <div class="col-sm-3">
                <div>
                    <ul class="nav nav-tabs justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link {{  pestana == 'todos' ? 'active' : ''  }}" href="{{ path('consumible_historico', {'id': cliente.id}) }}">Todos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{  pestana == 'ingresos' ? 'active' : ''  }}" href="{{ path('consumible_historico', {'id': cliente.id}) }}?pestana=ingresos">Ingresos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{  pestana == 'egresos' ? 'active' : ''  }}" href="{{ path('consumible_historico', {'id': cliente.id}) }}?pestana=egresos">Indicaciones</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 text-right">
                <div class="form-row">
                    <div class="col-sm">
                        <label class="control-label">Imputación:</label>
                        <input type="date" name="imputacion" id="imputacion" style="padding: 4px;border: 1px #ced4da solid;" {% if(imputacion) %} value={{ imputacion }} {% endif %}>
                    </div>
                    <div class="col-sm">
                        <label class="control-label">Desde:</label>
                        <input type="date" name="desde" id="desde" style="padding: 4px;border: 1px #ced4da solid;" {% if(desde) %} value={{ desde }} {% endif %}>
                    </div>
                    <div class="col-sm">
                        <label class="control-label">Hasta:</label>
                        <input type="date" name="hasta" id="hasta" style="padding: 4px;border: 1px #ced4da solid;" {% if(hasta) %} value={{ hasta }} {% endif %}>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 text-right">
                <select class="form-control" id="tipo">
                    <option value="0">Filtrar por Tipo</option>
                    {% for tipo in tipos %}
                        <option value="{{ tipo.id }}" {% if tipoSeleccionado == tipo.id %} selected {% endif %} >
                           {{ tipo.nombre }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-1 text-left">
                <a class="btn btn-outline-secondary" data-url="{{ path('consumible_historico', {'id': cliente.id}) }}?pestana={{ pestana }}" data-todos="{{ pestana == 'todos' }}" type="button" id="buscar" style="padding: 10px;">
                    <i class="fas fa-search"></i>
                </a>
                <a class="btn btn-outline-secondary" href="{{ path('consumible_historico', {'id': cliente.id}) }}" type="button" style="padding: 10px;">
                    Todos
                </a>
            </div>
            <br>
        </div>
    </div>
    <div class="printiable">
        <table class="table">
            <thead>
            <tr>
                <th class="consumo">Consumo</th>
                <th class="accion">Acción</th>
                <th class="tipo">Tipo</th>
                <th class="fecha">Fecha</th>
                <th class="desde">Desde</th>
                <th class="hasta">Hasta</th>
                <th class="cantidad" style="text-align: right;">Cantidad</th>
            </tr>
            </thead>
            <tbody>
                {% for dato in consumiblesClientes %}
                    {% if consumibles[dato.consumibleId] is defined %}
                        <tr class="consumible-{{ dato.consumibleId }}">
                            <td class="consumo">{{ consumibles[dato.consumibleId] ? consumibles[dato.consumibleId].nombre }}</td>
                            <td class="accion">{{ dato.accion ? 'ingreso' : 'indicacion' }}</td>
                            <td class="tipo">{{ consumibles[dato.consumibleId].tipo ? consumibles[dato.consumibleId].tipo.nombre }}</td>

                            <td class="fecha">
                                {{ dato.fecha ? dato.fecha|date('Y-m-d') : ''}}
                            </td>
                            <td class="desde">
                                {{ dato.desde ? dato.desde|date('Y-m-d') : ''}}
                            </td>
                            <td class="hasta">
                                {{ dato.hasta ? dato.hasta|date('Y-m-d') : ''}}
                            </td>
                            <td style="text-align: right;" class="{{ dato.accion ? 'ingreso' : 'egreso' }} cantidad">{{ dato.cantidad }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block modalImprimir %}
    <div class="form-check">
        <input class="form-check-input check" type="checkbox" value="consumo" id="consumo">
        <label class="form-check-label" for="consumo">
            Consumo
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input check" type="checkbox" value="accion" id="accion">
        <label class="form-check-label" for="accion">
            Acción
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input check" type="checkbox" value="tipo" id="tipo">
        <label class="form-check-label" for="tipo">
            Tipo
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input check" type="checkbox" value="fecha" id="fecha">
        <label class="form-check-label" for="fecha">
            Fecha
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input check" type="checkbox" value="desde" id="desde">
        <label class="form-check-label" for="desde">
            Desde
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input check" type="checkbox" value="hasta" id="hasta">
        <label class="form-check-label" for="hasta">
            Hasta
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input check" type="checkbox" value="cantidad" id="cantidad">
        <label class="form-check-label" for="cantidad">
            Cantidad
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="todos" id="todos">
        <label class="form-check-label" for="todos">
            Todos
        </label>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/consumibles.js') }}"></script>

    <script>
        $( document ).ready(function () {
            clases = [];
            $('tbody tr').each(function() {
                if ( !clases.includes($(this).attr('class'))) {
                    clases.push($(this).attr('class'));
                }
            })

            clases.forEach(element => {
                var subtotal = 0;
                $('.'+element).each(function() {
                    if($(this).find('td:last-child').hasClass('egreso')) {
                        subtotal -= parseFloat($(this).find('td:last-child').html());
                    } else if ($(this).find('td:last-child').hasClass('ingreso')) {
                        subtotal += parseFloat($(this).find('td:last-child').html());
                    }
                })
                $('.'+element).last().after('<tr><td colspan="7" style="text-align: right; border-top: 1px solid black; border-bottom: 1px solid black;">Total: '+subtotal+'</td></tr>');
            });
        });
    </script>


{% endblock %}
