{% extends 'base.html.twig' %}

{% block title %}Consumibles Historico{% endblock %}
{% block panelTitle %}Consumos de <span style="text-transform: capitalize">{{ cliente.nombre }}</span> <a href="javascript:history.back();" class="btn btn-success">Volver</a> {% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <div>
                    <ul class="nav nav-tabs justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link {{  pestana == 'todos' ? 'active' : ''  }}" href="{{ path('consumible_historico', {'id': cliente.id}) }}">Todos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{  pestana == 'ingresos' ? 'active' : ''  }}" href="{{ path('consumible_historico', {'id': cliente.id}) }}?pestana=ingresos">Ingresos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{  pestana == 'egresos' ? 'active' : ''  }}" href="{{ path('consumible_historico', {'id': cliente.id}) }}?pestana=egresos">Egresos</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm text-right">
                <div>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Filtrar por Tipo
                        </button>
                        <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item text-white" href="{{ path('consumible_historico', {'id': cliente.id}) }}{{  pestana != 'activos' ? '?pestana=' ~ pestana : '' }}">Todos</a>
                            {% for tipo in tipos %}
                                <a class="dropdown-item text-white "
                                   href="{{ path('consumible_historico', {'id': cliente.id}) }}{{  pestana != 'activos' ? '?pestana=' ~ pestana ~ '&tipoSeleccionado=' ~ tipo.id : '?tipoSeleccionado=' ~ tipo.id }}">{{ tipo.nombre }}
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Consumo</th>
            <th>Acción</th>
            <th>Tipo</th>
            <th>Fecha</th>
            <th style="text-align: right;">Cantidad</th>
        </tr>
        </thead>
        <tbody>
            {% set total = 0 %}
            {% set totalPorTipo = [] %}
            {% for dato in consumiblesClientes %}
                {% if consumibles[dato.consumibleId] is defined %}
                    {% if dato.accion %}
                        {% set total = total + dato.cantidad %}
                    {% else %}
                        {% set total = total - dato.cantidad %}
                    {% endif %}
                    <tr>
                        <td>{{ consumibles[dato.consumibleId] ? consumibles[dato.consumibleId].nombre }}</td>
                        <td>{{ dato.accion ? 'ingreso' : 'egreso' }}</td>
                        <td>{{ consumibles[dato.consumibleId].tipo ? consumibles[dato.consumibleId].tipo.nombre }}</td>

                        <td>
                            {{ dato.fecha ? dato.fecha|date('Y-m-d') : ''}}
                        </td>
                        <td style="text-align: right;" class="{{ dato.accion ? 'ingreso' : 'egreso' }}">{{ dato.cantidad }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5" style="text-align: right;">
                    Total: <span class="{{ total >= 0 ? 'ingreso' : 'egreso' }}"><b>{{ total }}</b></span>
                </td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
