{% extends 'base.html.twig' %}

{% block title %}Consumibles Imputar{% endblock %}
{% block panelTitle %}
    Imputar Consumibles a <b style="text-transform: capitalize" id="clienteName"> {{ cliente.nombre }} {{ cliente.apellido }}</b>
{% endblock %}
{% block titleButtons %}
    <a href="javascript:history.back()" class="btn-danger btn">Volver</a>
    <a href="{{ path('consumible_new') }}" class="btn-success btn">Nuevo Consumible</a>
    <a href="{{ path('cliente_index') }}" class="btn-info btn">Pacientes</a>
    <a href="{{ path('consumible_indicar_view', {'id': cliente.id}) }}" class="btn-action btn">Cargar Indicaciones</a>
    <button class="btn-done btn" data-toggle="modal" data-target="#exampleModal">Generar Recibo</button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Inputaciones</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <input type="date" id="fechaImputaciones">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12" id="data">
                            <div id="loading" class="text-center">
                                <img src="{{ asset('assets/images/loading.gif') }}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" id="generarRecibo">Generar Recibo</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block body %}
    <table class="table table-striped" id="rowContainer">
        <thead>
            <tr>
                <th colspan="1">
                    Indicaciones Cargadas
                </th>
                <th colspan="1">
                    <select class="form-control" name="yearFilter" id="yearFilter">
                        <option value="">Año</option>
                        <option value="2021" {%  if year == 2021 %} selected {% endif %}>2021</option>
                        <option value="2022" {%  if year == 2021 %} selected {% endif %}>2022</option>
                    </select>
                </th>
                <th colspan="1">
                    <select class="form-control" name="mesFilter" id="mesFilter">
                        <option value="">Mes</option>
                        {% for nombre, num in meses %}
                            <option value="{{ num }}" {%  if num == mes %} selected {% endif %}>{{ nombre }}</option>
                        {% endfor %}
                    </select>
                </th>
                <th colspan="4">
                    <button class="btn btn-default" id="filtrar">Filtrar</button>
                    <a class="btn btn-default" href="{{ path('consumible_imputar_view', {'id': cliente.id}) }}">Limpiar</a>
                </th>
            </tr>
            <tr>
                <th>
                    Consumible
                </th>
                <th>
                    Cantidad Mensual
                </th>
                <th>
                    Mes
                </th>
                <th>
                    Año
                </th>
                <th>
                    Ya Imputadas
                </th>
                <th>
                    Restan
                </th>
                <th>
                    Cantidad a Imputar
                </th>
                    {#<div class="col-sm" style="padding-top: 5px;">
                    </div>#}
                    {#<div class="col-sm" style="display: flex;align-items: center;">
                        <span>Quedan: </span>
                        <span id="unidades"></span>
                    </div>#}
            </tr>
        </thead>
        <tbody>
        {% set rowCount = 0 %}
        {% for indicacionCargada in indicacionesCargadas  %}
            {% if (indicacionCargada.accion is same as (0))  %}
                <tr class="consumibles row-{{ rowCount }}"
                    data-row="{{ rowCount }}"
                    data-mes="{{ indicacionCargada.mes }}"
                    data-year="{{ indicacionCargada.year }}"
                    data-consumible-id="{{ indicacionCargada.consumibleId }}"
                    style="line-height: 30px;">
                    <td>
                        {% for consumible in consumibles %}
                            {% if consumible.id == indicacionCargada.consumibleId %} {{ consumible.nombre }} {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {{ indicacionCargada.cantidad }}
                    </td>
                    <td class="mes">
                        {% for nombre, num in meses %}
                            {%  if num == indicacionCargada.mes %} {{ nombre }} {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <input value="{{ indicacionCargada.year }}" type="number" class="year"/>
                    </td>
                    <td style="text-align: center" class="yaImputadas" id="imputadas-{{ indicacionCargada.id }}" data-row-id="{{ rowCount }}" data-cantidad="{{ indicacionCargada.cantidad }}" data-id="{{ indicacionCargada.id }}" data-mes="{{ indicacionCargada.mes }}" data-year="{{ indicacionCargada.year }}" data-consumible="{{ indicacionCargada.consumibleId }}" data-cliente="{{ indicacionCargada.clienteId }}">
                        <img src="{{ asset('assets/images/loading.gif') }}" style="width: 35px;">
                    </td>
                    <td style="text-align: center" class="total" id="total-{{ indicacionCargada.id }}">
                        <img src="{{ asset('assets/images/loading.gif') }}" style="width: 35px;">
                    </td>
                    {#<div class="col-sm noAgregar" style="padding-top: 5px;">
                        <label class="checkcontainer red" style="display: inline-block; margin-right: 10px">Indicación
                            <input type="radio" name="accion-{{ rowCount }}"  required value="0" {% if indicacionCargada.accion == 0 %} checked {% endif %}>
                            <span class="checkmark"></span>
                        </label>
                        <label class="checkcontainer green" style="display: inline-block">Ingresa
                            <input type="radio" name="accion-{{ rowCount }}" id="accion-{{ rowCount }}" value="1" {% if indicacionCargada.accion == 1 %} checked {% endif %}>
                            <span class="checkmark"></span>
                        </label>
                    </div>#}
                    {#<div class="col-sm" style="display: flex;align-items: center;">
                            <span>Quedan: </span>
                            <span id="unidades"></span>
                        </div>#}
                    <td id="botones-{{ rowCount }}" class="noAgregar row" >
                        <input type="number" class="form-control col-sm-7" style="margin-left: 5px; margin-right: 5px" id="cantidad-{{ rowCount }}">
                        {% for consumible in consumibles %}
                            {% if consumible.id == indicacionCargada.consumibleId %} <label for="cantidad-{{ rowCount }}">{{ consumible.unidades }} </label>{% endif %}
                        {% endfor %}
                    </td>
                </tr>
                {% set rowCount = rowCount + 1 %}
            {% endif %}
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6" style="text-align: right">
                    <button class="btn btn-success guardarIndividual">Imputar</button>
                </td>
            </tr>
        </tfoot>
    </table>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/consumibles.js') }}"></script>
    <script>
        /*$(document).on('change', '.selectConsumible', function() {
            var consumibleId = $(this).val();
            var row = $(this).data('row');
            $('#botonGuardar-'+row).data('consumible-id', consumibleId);
        });

        $(document).on('change', '.mes', function() {
            var mes = $(this).val();
            var row = $(this).data('row');
            $('#botonGuardar-'+row).data('mes', mes);
        });*/

        $('#fechaImputaciones').change(function () {
            let date = $('#fechaImputaciones').val();

            $('#loading').show();

            $.ajax({
                url: '{{ path('consumible_imputar_view_get_imputaciones_imprimir') }}',
                data: {
                    'cid': {{ cliente.id }},
                    'fecha': date,
                },
                success: function (response) {
                    if (response.error) {
                        alert('error: ' + response.message);
                    } else {
                        let html = '';
                        let count = 1;
                        html += '<div class="table-responsive-sm"><table class="table table-striped"><thead><tr><th class="center">#</th><th>Item</th><th class="center">Cantidad</th></tr></thead><tbody>'
                        $.each(response, function (e, v) {
                            html += '<tr>';
                            html += '<td>'+count+'</td>';
                            html += '<td>'+v.nombre+'</td>';
                            html += '<td>'+v.cant+'</td>';
                            html += '</tr>';
                            count ++;
                        });
                        html += '</tbody></table>';

                        $('#data').html(html);
                    }
                },
                complete: function () {
                    $('#loading').hide();
                }
            });


        })

        $(document).on( 'click', '.guardarIndividual', function() {
            var self = $(this);
            self.attr('disabled', true);
            $(".consumibles").each(function () {
                var rowCount = $(this).data('row');
                var cantidad = $('#cantidad-' + rowCount).val();

                if (!isNaN(cantidad) && cantidad > 0) {
                    $.ajax({
                        url: '{{ path('consumible_imputar') }}',
                        data: {
                            'cliente': {{ cliente.id }},
                            'consumibleId': $(this).data('consumible-id'),
                            'cantidad': $('#cantidad-' + rowCount).val(),
                            'mes': $(this).data('mes'),
                            'year': $(this).data('year'),
                            'accion': 1,
                            'isAjax': true,
                        },
                        success: function (response) {
                            if (response.error) {
                                alert('error: ' + response.message);
                            } else {
                                cargarImputaciones();
                                $('#cantidad-' + rowCount).val('');
                            }
                        },
                        finally: function () {
                            self.prop("disabled", false);
                            window.scrollTo({ top: 0, behavior: "smooth" });
                        }
                    });
                } else {
                    self.prop("disabled", false);
                }
            });

            return false;
        } );

        function cargarImputaciones() {
            $('.yaImputadas').each(function () {
                var rowId = $(this).data('row-id');
                var mes = $(this).data('mes');
                var year = $(this).data('year');
                var consumibleId = $(this).data('consumible');
                var cid = $(this).data('cliente');
                var id = $(this).data('id');
                var cantidad = $(this).data('cantidad');

                $.ajax({
                    url: '{{ path('consumible_imputar_view_get_imputaciones') }}',
                    data: {
                        'cid': cid,
                        'consumibleId': consumibleId,
                        'mes': mes,
                        'year': year,
                    },
                    success: function (response) {
                        if (response.error) {
                            alert('error: ' + response.message);
                        } else {
                           $('#imputadas-'+id).html(response);
                           let total = cantidad - response;
                           if ( total === 0 ){
                               $('.row-'+rowId).hide();
                           }
                           $('#total-'+id).html(total);
                        }
                    }
                });

            });

        }
        $( document ).ready(function () {
            cargarImputaciones();

        });

        $('#generarRecibo').click(function () {
            let date = $('#fechaImputaciones').val();
            var html = '<head>' + $('head').html() + '</head>';
            html += '<div class="container" style="border: 1px solid;padding-top: 15px;margin-top: 15px;border-radius: 10px;">' +
                        '<div class="" style="margin-top: 15px; text-align: left">' +
                        '   <span><b>Recibo Nº: ###numero### </b></b></span>' +
                        '   <span >Fecha: '+date+' </span><br></b>' +
                        '   <span>Insumos no incluidos en modulo</span><br></b>' +
                        '   <span style="text-transform: capitalize;">Nombre: '+ $('#clienteName').html() +'</span><br></b>' +
                        '   <span>Cuil: ........................................</span></b>' +
                        '</div>' +
                        '<div">';
            html += $('#data').html();
            html +=     '</div>' +
                    '</div>';

            $.ajax({
                url: '{{ path('guardar_recibo') }}',
                type: 'get',
                data: {
                    'cid': {{ cliente.id }},
                    'fecha': date,
                    'tipo': 'consumible',
                    'html': html,
                },
                success: function (response) {
                    if (response.error) {
                        alert('error: ' + response.message);
                    } else {
                        $('#exampleModal').modal('hide');
                        var ventana = window.open('', 'PRINT');
                        ventana.document.write(response);
                        ventana.document.close();
                        ventana.focus();
                        ventana.print();
                    }
                },
                complete: function () {
                    $('#loading').hide();
                }
            });
        });

        $("#filtrar").click(function() {
            let year = $("#yearFilter").val();
            let mes = $("#mesFilter").val();

            if (year !== '' || mes !== '') {
                location.href = "{{ path('consumible_imputar_view', {'id': cliente.id}) }}" + "?year="+year+"&mes="+mes;
            }
        });


       /* $( document ).ready(function () {
            $('input[type="date"]').each(function() {
                var fecha = $(this).val();

                if (fecha !== '') {
                    var firstDateSplit = fecha.split("-");
                    var first = new Date(firstDateSplit[0], firstDateSplit[1] - 1, firstDateSplit[2]);
                    first.setMonth( first.getMonth( ) + 1 );
                    var seconddate = ( first.getFullYear() + '-' + (("0" + (first.getMonth() + 1)).slice(-2))  + '-' + first.getDate( ));
                    $(this).val(seconddate);
                }
            });
        });*/
    </script>
{% endblock %}
