{% extends 'base.html.twig' %}

{% block title %}Consumibles Imputar{% endblock %}
{% block panelTitle %}
    Imputar Consumibles a
    <b style="text-transform: capitalize"> {{ cliente.nombre }}</b>
    <a href="javascript:history.back()" class="btn-danger btn">Volver</a>
    <a href="{{ path('consumible_new') }}" class="btn-success btn">Nuevo Consumible</a>
    <a href="{{ path('cliente_index') }}" class="btn-info btn">Pacientes</a>
{% endblock %}
{% block body %}
<form action="{{ path('consumible_imputar') }}" method="post">
    <input type="hidden" name="cliente" value="{{ cliente.id }}">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <label class="control-label required">Consumible:</label>
                <select class="form-control " id="consumible" name="consumible" required="required">
                    {% for consumible in consumibles %}
                        <option value="{{ consumible.id }}" data-unidades="{{ consumible.unidades }}">{{ consumible.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm">
                <label class="control-label required">Cantidad Diaria:</label>
                <input class="form-control" type="number" placeholder="Cantidad Diaria" name="cantidad" id="cantidad" required>
            </div>
            <div class="col-sm desdeHasta">
                <label class="control-label required">Desde:</label>
                <input class="form-control" type="date" name="desde">
            </div>
            <div class="col-sm desdeHasta">
                <label class="control-label required">Hasta:</label>
                <input class="form-control" type="date" name="hasta">
            </div>
            <div class="col-sm" style="padding-top: 35px;">
                <label class="checkcontainer" style="display: inline-block; margin-right: 10px">Consume
                    <input type="radio" checked id='consume' name="accion" required value="0">
                    <span class="checkmark"></span>
                </label>
                <label class="checkcontainer" style="display: inline-block" value="1">Agrega
                    <input type="radio" id="agrega" name="accion">
                    <span class="checkmark"></span>
                </label>
            </div>
            {#<div class="col-sm" style="display: flex;align-items: center;">
                <span>Quedan: </span>
                <span id="unidades"></span>
            </div>#}
            <div class="col-sm" style="padding-top: 35px;">
                <button type="submit" class="btn btn-success">Imputar</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/consumibles.js') }}"></script>
{% endblock %}
