{% extends 'base.html.twig' %}

{% block title %}Consumibles Imputar{% endblock %}
{% block panelTitle %}
    Cargar Indicaciones para <b style="text-transform: capitalize"> {{ cliente.nombre }} {{ cliente.apellido }}</b>
{% endblock %}
{% block titleButtons %}
    <a href="javascript:history.back()" class="btn-danger btn">Volver</a>
    <a href="{{ path('consumible_new') }}" class="btn-success btn">Nuevo Consumible</a>
    <a href="{{ path('cliente_index') }}" class="btn-info btn">Pacientes</a>
    <a href="{{ path('consumible_imputar_view', {'id': cliente.id}) }}" class="btn-info btn">Imputar</a>
{% endblock %}
{% block body %}
    {% set rowCount = 0 %}

        <table class="table table-striped" id="rowContainer">
            <thead>
                <tr>
                    <th>
                        Consumible
                    </th>
                    <th>
                        Cantidad Mensual
                    </th>
                    <th>
                        Mes
                    </th>
                    <th>
                        Año
                    </th>
                </tr>
                    <td>
                        <button class="btn btn-info" id="verIndMesAnt">Ver Indicaciones mes anterior</button>
                        <button class="btn btn-info" id="ocultarIndMesAnt">Ocultar Indicaciones mes anterior</button>
                    </td>
                    <td>
                        <a id="agregarItem" class="btn btn-info">+</a>
                        <a id="eliminarItem" class="btn btn-warning">-</a>
                    </td>
                </tr>
            </thead>
            <tbody id="tabla-imputar">
            {% set rowCount = 0 %}
            {% for indicacionCargada in indicacionesCargadas  %}
                {% if (indicacionCargada.accion is same as (0))  %}
                    <tr class="row-{{ rowCount }} indicacionesMesAnterior" style="line-height: 30px;" data-row="{{ rowCount }}">
                        <td>
                            <select class="form-control selectConsumible" id="consumible-{{ rowCount }}" data-row="{{ rowCount }}">
                                {% for consumible in consumibles %}
                                    <option {% if consumible.id == indicacionCargada.consumibleId %} selected {% endif %} value="{{ consumible.id }}">
                                        {{ consumible.nombre }}
                                    </option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <input class="form-control" type="number" placeholder="Cantidad" id="cantidad-{{ rowCount }}" value="{{ indicacionCargada.cantidad }}">
                        </td>
                        <td class="mes">
                            <select class="form-control mes col-sm-10" id="mes-{{ rowCount }}" data-row="{{ rowCount }}" style="display: inline;">
                            {% for nombre, num in meses %}
                                <option {% if num == indicacionCargada.mes %} selected {% endif %} value="{{ num }}">{{ nombre }}</option>
                            {% endfor %}
                            </select>
                            <a href="#" class="borrar-row col-sm-2" data-row="{{ rowCount }}">
                                <i class="fas fa-trash" title="borrar"></i>
                            </a>
                        </td>
                        <td>
                            <select class="form-control year col-sm-10" id="year-{{ rowCount }}" data-row="{{ rowCount }}" style="display: inline;">
                                <option {% if 2021 == indicacionCargada.year %} selected {% endif %} value="2021">2021</option>
                                <option {% if 2022 == indicacionCargada.year %} selected {% endif %} value="2022">2022</option>
                            </select>
                        </td>
                    </tr>
                    {% set rowCount = rowCount + 1 %}
                {% endif %}
            {% endfor %}
                <tr class="row-{{ rowCount }} rowOriginal" id="rowOriginal" data-row="{{ rowCount }}">
                    <td>
                        <select class="form-control selectConsumible" id="consumible-{{ rowCount }}" data-row="{{ rowCount }}">
                            <option value="" >seleccione una opcion</option>
                            {% for consumible in consumibles %}
                                <option value="{{ consumible.id }}" data-unidades="{{ consumible.unidades }}">{{ consumible.nombre }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <input class="form-control" type="number" placeholder="Cantidad" id="cantidad-{{ rowCount }}">
                    </td>
                    <td>
                        <select class="form-control mes" id="mes-{{ rowCount }}" data-row="{{ rowCount }}">
                            {% for nombre, num in meses %}
                                <option {%  if num == mes %} selected {% endif %} value="{{ num }}">{{ nombre }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select class="form-control year col-sm-10" id="year-{{ rowCount }}" data-row="{{ rowCount }}" style="display: inline;">
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                        </select>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" class="text-right">
                        <button class="btn btn-success" id="guardar">Guardar Indicaciones</button>
                    </td>
                </tr>
            </tfoot>
        </table>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/consumibles.js') }}"></script>

    <script>
        $('.borrar-row').click(function (e) {
            e.preventDefault();
            let row = $(this).data('row');
            console.log(row);
            $('.row-'+row).hide();
        });

        $("#guardar").on( 'click', function() {

            let rows = $('#tabla-imputar tr:visible').not('guardada');
            let todoOK = true;

            $(rows).each(function() {
                $(this).removeClass('error');
                let newRowCount = $(this).data('row');
                let cantidad = $('#cantidad-' + newRowCount).val();
                let mes = $('#mes-' + newRowCount).val();
                let year = $('#year-' + newRowCount).val();
                let consumible = $('#consumible-' + newRowCount).val();

                if (!isNaN(cantidad) && cantidad > 0 && consumible !== '') {
                    $.ajax({
                        url: '{{ path('consumible_imputar') }}',
                        data: {
                            'cliente': {{ cliente.id }},
                            'consumibleId': consumible,
                            'cantidad': $('#cantidad-' + newRowCount).val(),
                            'mes': mes,
                            'year': year,
                            'accion': 0,
                            'isAjax': true,
                        },
                        success: function (response) {
                            if (response.error) {
                                alert('error: ' + response.message);
                            } else {
                                $(this).addClass('guardada');
                            }
                        }
                    });
                } else if (!$(this).hasClass('rowOriginal')) {
                    todoOK = false;
                    $(this).addClass('error');
                    alert("Existe un error en la linea con fondo rojo");
                }
            })
            if (todoOK) {
                //window.location.href = "{{ path('consumible_historico', {'id': cliente.id}) }}";
            }
        } );
    </script>

{% endblock %}