{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/loginForm.css') }}">
{% endblock %}
{% block body %}
<div class="wrapper fadeInDown">
    <div id="formContent">
        <form method="post">
            {% if error is defined and error%}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            {% if  customError is defined and customError %}
                <div class="alert alert-danger">{{ customError }}</div>
            {% endif %}
            <div class="fadeIn first">
                <img src="{{ asset('assets/images/plusVitaLogo.png') }}" id="icon" alt="Logo" class="img-responsive"/>
            </div>
            <div class="fadeIn second">
                <h1 class="h3 mb-3 font-weight-normal">Acceso al Sistema</h1>
                {% if cambioDePassOk %}
                    <p>Su password fue modificado exitosamente. Por favor, ingrese con su nueva password</p>
                {% endif %}
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" required autofocus placeholder="Usuario">
                <input type="password" name="password" id="inputPassword"  required placeholder="Password">
            </div>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            {#<div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Recordar usuario
                </label>
            </div>#}


            <button class="btn btn-lg btn-primary mrl-15" type="submit" style="width: 85%;">
                Ingresar
            </button>

            <div class="text-center p-t-45 p-b-4">
                <span class="">
                Olvidó su
                </span>
                <a href="{{ path('reset_password_index') }}" class="">
                    Password?
                </a>
            </div>

            {#<div class="text-center">
                <span class="">
                Crear una Nueva Cuenta?
                </span>
                <a href="#" class="">
                    Sign up
                </a>
            </div>#}
        </form>
    </div>
</div>
{% endblock %}
