{{ form_start(form) }}
{%  if form.nombre is defined %}
<br>
<div class="form-row">
    <div class="col-sm">
        {{ form_label(form.nombre, 'Nombre') }}
        {{ form_widget(form.nombre) }}
    </div>
    <div class="col-sm">
        {{ form_label(form.apellido, 'Apellido') }}
        {{ form_widget(form.apellido) }}
    </div>
    <div class="col-sm">
        {{ form_label(form.dni, 'DNI') }}
        {{ form_widget(form.dni) }}
    </div>
    <div class="col-sm">
        {{ form_label(form.telefono, 'Teléfono') }}
        {{ form_widget(form.telefono) }}
    </div>
</div>
<br>
<div class="form-row">
    <div class="col-sm">
        {{ form_label(form.email, 'Email') }}
        {{ form_widget(form.email, {'attr': { 'data-staff_check_email-url' : path('staff_check_email'), 'data-doc-id' : cliente.id }}) }}
        <div class="invalid-feedback">
            El email no es válido.
        </div>
    </div>

    <div class="col-sm">
        {{ form_label(form.hClinica, 'Historia Clinica') }}
        {{ form_widget(form.hClinica, {'attr': { 'data-cliente_check_hc-url' : path('cliente_check_hc'), 'data-cliente-id' : cliente.id }}) }}
        <div class="invalid-feedback">
            El número de historia clínica ya se encuentra en uso
        </div>
    </div>
    <div class="col-sm">
        <div class="form-row">
            <div class="col-sm">
                {{ form_label(form.fNacimiento) }}
                {{ form_widget(form.fNacimiento) }}
            </div>
            <div class="col-sm">
                {{ form_label(form.edad) }}
                {{ form_widget(form.edad) }}
            </div>
        </div>
    </div>
</div>
<br>
<div class="form-row">
    <div class="col-sm">
        {{ form_label(form.obraSocial) }}
        {{ form_widget(form.obraSocial) }}
    </div>
    <div class="col-sm">
        {{ form_label(form.obraSocialTelefono) }}
        {{ form_widget(form.obraSocialTelefono) }}
    </div>
    <div class="col-sm">
        {{ form_label(form.obraSocialAfiliado) }}
        {{ form_widget(form.obraSocialAfiliado) }}
    </div>
</div>
<br>
<div class="form-row">
    <div class="col-sm">
        {{ form_label(form.tipoDePago) }}
        {{ form_widget(form.tipoDePago) }}
    </div>
    <div class="col-sm">

    </div>
    <div class="col-sm">

    </div>
</div>
<br>
<div class="form-row">
    <div class="col-sm">
        {{ form_label(form.sistemaDeEmergenciaNombre) }}
        {{ form_widget(form.sistemaDeEmergenciaNombre) }}
    </div>
    <div class="col-sm">
        {{ form_label(form.sistemaDeEmergenciaTel) }}
        {{ form_widget(form.sistemaDeEmergenciaTel) }}
    </div>
    <div class="col-sm">
        {{ form_label(form.sistemaDeEmergenciaAfiliado) }}
        {{ form_widget(form.sistemaDeEmergenciaAfiliado) }}
    </div>
</div>
<br>
<hr>
<h4>Información de Ingreso</h4>
<div class="form-row">
    <div class="col-sm">
        {{ form_label(form.modalidad) }}
        {{ form_widget(form.modalidad) }}
    </div>
    <div class="col-sm">
        {{ form_label(form.motivoIng) }}
        {{ form_widget(form.motivoIng, {'attr': {'data-cliente-motivo_ingreso-select-url': path('paciente_patologia_select'), 'class': 'js-cliente-motivo'}}) }}
    </div>
    <div class="col-sm">
        <div class="js-cliente-motivo-target">
            {%  if form.motivoIngEspecifico is defined %}
                {{ form_label(form.motivoIngEspecifico) }}
                {{ form_widget(form.motivoIngEspecifico) }}
            {% endif %}
        </div>
    </div>
</div>
<br>
<div class="form-row d-none habitacion">
    <div class="col-sm habDiv">
        {{ form_label(form.habitacion) }}
        {{ form_widget(form.habitacion, {'attr': {'class': 'js-camas-disp'}}) }}
    </div>
    <div class="col-sm placeHolder">
        {%  if form.nCama is defined %}
            {{ form_label(form.nCama) }}
            {{ form_widget(form.nCama) }}
        {% endif %}
    </div>
    <div class="col-sm placeHolder">
        {%  if form.habPrivada is defined %}
            {{ form_label(form.habPrivada) }}
            {{ form_widget(form.habPrivada) }}
        {% endif %}
    </div>
</div>
<br>
<div class="form-row">
    <div class="col-sm">
        {{ form_label(form.fIngreso) }}
        {{ form_widget(form.fIngreso) }}
    </div>
    <div class="col-sm">
        {{ form_label(form.dieta) }}
        {{ form_widget(form.dieta) }}
    </div>
    <div class="col-sm">
        {% if form.posicionEnArchivo is defined %}
            {{ form_label(form.posicionEnArchivo) }}
            {{ form_widget(form.posicionEnArchivo) }}
        {% endif %}
    </div>
</div>
<br>
<div class="form-row">
    <div class="col-sm">
        {{ form_label(form.sesionesDisp) }}
        {{ form_widget(form.sesionesDisp) }}
    </div>
    <div class="col-sm">
        {{ form_label(form.formNum) }}
        {{ form_widget(form.formNum) }}
    </div>
    <div class="col-sm"></div>
</div>
<br>
<div class="form-row">
    <div class="col-sm">
        {{ form_label(form.vtoSesiones) }}
        {{ form_widget(form.vtoSesiones) }}
    </div>
    <div class="col-sm">
        {{ form_label(form.mediaSesion) }}
        {{ form_widget(form.mediaSesion) }}
    </div>
    <div class="col-sm"></div>
</div>
<br>
<div class="form-row">
    <div class="col-sm">
        {{ form_label(form.docReferente) }}
        {{ form_widget(form.docReferente) }}
    </div>
    <div class="col-sm">
        {{ form_label(form.disponibleParaTerapia) }}
        {{ form_widget(form.disponibleParaTerapia) }}
    </div>
    <div class="col-sm">

    </div>
</div>
<br><br>
<hr>
<h4>Institución de la cual proviene</h4>
<div class="form-row">
    <div class="col-sm">
        {{ form_label(form.vieneDe) }}
        {{ form_widget(form.vieneDe) }}
    </div>
    <div class="col-sm">
        {{ form_label(form.docDerivante) }}
        {{ form_widget(form.docDerivante) }}
    </div>
</div>
<br><br>
<hr>
<h4>Familiar Responsable </h4>
<div id="familiares">
    <div class="form-row">
        <div class="col-sm">
            {{ form_label(form.familiarResponsableNombre) }}
            {{ form_widget(form.familiarResponsableNombre) }}
        </div>
        <div class="col-sm">
            {{ form_label(form.familiarResponsableTel) }}
            {{ form_widget(form.familiarResponsableTel) }}
        </div>
        <div class="col-sm">
            {{ form_label(form.familiarResponsableMail) }}
            {{ form_widget(form.familiarResponsableMail) }}
        </div>
        <div class="col-sm">
            {{ form_label(form.vinculoResponsable) }}
            {{ form_widget(form.vinculoResponsable) }}
        </div>
        <div class="col-sm">
            {{ form_label(form.familiarResponsableAcompanante) }}
            <div class="columnas-de-uno">
                {{ form_widget(form.familiarResponsableAcompanante) }}
            </div>
        </div>
    </div>
    {%  if familiarExtraActuales is defined %}
        {% for familiarExtraActual in familiarExtraActuales %}
            <div class="form-row">
                <div class="col-sm">
                    <input type="text" name="familiarResponsableExtraNombre[]" class="form-control" value="{{ familiarExtraActual.nombre }}">
                </div>
                <div class="col-sm">
                    <input type="text" name="familiarResponsableExtraTel[]" class="form-control" value="{{ familiarExtraActual.tel }}">
                </div>
                <div class="col-sm">
                    <input type="text" name="familiarResponsableExtraMail[]" class="form-control" value="{{ familiarExtraActual.mail }}">
                </div>
                <div class="col-sm">
                    <input type="text" name="familiarResponsableExtraVinculo[]" class="form-control" value="{{ familiarExtraActual.vinculo }}">
                </div>
                <div class="col-sm">
                    <select name="familiarResponsableExtraAcompanante[]" class="form-control">
                        <option value="1" {% if( familiarExtraActual.acompanante == 1) %} selected="selected" {% endif %}>Si</option>
                        <option value="0" {% if( familiarExtraActual.acompanante == 0) %} selected="selected" {% endif %}>No</option>
                    </select>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>
<br>
<div class="form-row" id="agregarQuitarFamiliar">
    <div class="col-sm">
        <a href="" id="agregarFamiliar">agregar familiar + </a>
    </div>
</div>
<br><hr>
{% endif %}
{%  if form.fEgreso is defined %}

<h4>Información de Egreso</h4>
<div class="form-row">
    <div class="col-sm">
        {{ form_label(form.fEgreso) }}
        {{ form_widget(form.fEgreso) }}
    </div>
    <div class="col-sm">
        {{ form_label(form.motivoEgr) }}
        {{ form_widget(form.motivoEgr) }}
    </div>
</div>
<br>
{% endif %}
<div class="form-group">
    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
    <a class="btn btn-default" href="javascript:history.back();">volver</a>
</div>
<br>

{{ form_end(form) }}
