{{ form_start(form) }}
<br>
<div class="form-row">
    <div class="col-sm">
        {{ form_label(form.nombre, 'Nombre') }}
        {{ form_widget(form.nombre) }}
    </div>
    <div class="col-sm">
        {{ form_label(form.apellido, 'Apellido') }}
        {{ form_widget(form.apellido) }}
    </div>
    <div class="col-sm">
        {{ form_label(form.dni, 'DNI') }}
        {{ form_widget(form.dni) }}
    </div>
    <div class="col-sm">
        <div class="form-row">
            <div class="col-sm">
                {{ form_label(form.fNacimiento) }}
                {{ form_widget(form.fNacimiento) }}
            </div>
            <div class="col-sm">
                {{ form_label(form.edad) }}
                {{ form_widget(form.edad) }}
            </div>
        </div>
    </div>
</div>
<br>
<div class="form-row">
    <div class="col-sm">
        {{ form_label(form.telefono, 'Teléfono') }}
        {{ form_widget(form.telefono) }}
    </div>
    <div class="col-sm">
        {{ form_label(form.email, 'Email') }}
        {{ form_widget(form.email) }}
    </div>
    <div class="col-sm">
        {{ form_label(form.hClinica, 'Historia Clinica') }}
        {{ form_widget(form.hClinica) }}
    </div>
    <div class="col-sm">
        {{ form_label(form.obraSocial) }}
        {{ form_widget(form.obraSocial) }}
    </div>
</div>
<br>
<hr>
<h4>Información de Ingreso</h4>
<div class="form-row">
    <div class="col-sm">
        {{ form_label(form.modalidad) }}
        {{ form_widget(form.modalidad) }}
    </div>
    <div class="col-sm">
        {{ form_label(form.motivoIng) }}
        {{ form_widget(form.motivoIng, {'attr': {'data-cliente-motivo_ingreso-select-url': path('paciente_patologia_select'), 'class': 'js-cliente-motivo'}}) }}
    </div>
    <div class="col-sm">
        <div class="js-cliente-motivo-target">
            {%  if form.motivoIngEspecifico is defined %}
                {{ form_label(form.motivoIngEspecifico) }}
                {{ form_widget(form.motivoIngEspecifico) }}
            {% endif %}
        </div>
    </div>
</div>
<br>
<div class="form-row">
    <div class="col-sm">
        {{ form_label(form.habitacion) }}
        {{ form_widget(form.habitacion) }}
    </div>
    <div class="col-sm">
        {{ form_label(form.nCama) }}
        {{ form_widget(form.nCama) }}
    </div>
    <div class="col-sm">
        {{ form_label(form.fIngreso) }}
        {{ form_widget(form.fIngreso) }}
    </div>
</div>
<br>
<div class="form-row">
    <div class="col-sm">
        {{ form_label(form.docReferente) }}
        {{ form_widget(form.docReferente) }}
    </div>
</div>
<br><br>
<hr>
<h4>Institución de la cual proviene</h4>
<div class="form-row">
    <div class="col-sm">
        {{ form_label(form.vieneDe) }}
        {{ form_widget(form.vieneDe) }}
    </div>
    <div class="col-sm">
        {{ form_label(form.docDerivante) }}
        {{ form_widget(form.docDerivante) }}
    </div>
</div>
<br><br>
<hr>
<h4>Familiar Responsable </h4>
<div id="familiares">
    <div class="form-row">
        <div class="col-sm">
            {{ form_label(form.familiarResponsableNombre) }}
            {{ form_widget(form.familiarResponsableNombre) }}
        </div>
        <div class="col-sm">
            {{ form_label(form.familiarResponsableTel) }}
            {{ form_widget(form.familiarResponsableTel) }}
        </div>
        <div class="col-sm">
            {{ form_label(form.familiarResponsableMail) }}
            {{ form_widget(form.familiarResponsableMail) }}
        </div>
        <div class="col-sm">
            {{ form_label(form.vinculoResponsable) }}
            {{ form_widget(form.vinculoResponsable) }}
        </div>
    </div>
</div>
<br>
<div class="form-row" id="agregarQuitarFamiliar">
    <div class="col-sm">
        <a href="" id="agregarFamiliar">agregar familiar + </a>
    </div>
</div>
<br>
{%  if form.fEgreso is defined %}
<hr>
<h4>Información de Egreso</h4>
<div class="form-row">
    <div class="col-sm">
        {{ form_label(form.fEgreso) }}
        {{ form_widget(form.fEgreso) }}
    </div>
    <div class="col-sm">
        {{ form_label(form.motivoEgr) }}
        {{ form_widget(form.motivoEgr) }}
    </div>
</div>
<br>
{% endif %}
<div class="form-group">
    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
    <a class="btn btn-default" href="{{ path('cliente_index') }}">volver</a>
</div>
<br>

{{ form_end(form) }}
