{% extends 'base.html.twig' %}

{% block title %}Pacientes{% endblock %}
{% block panelTitle %}
    <div class="small">
        Nombre y Apellido: <small>{{ cliente.nombre }} {{ cliente.apellido }}</small><br>
        DNI: <small>{{ cliente.dni }}</small><br>
        Obra social: <small>{{ obraSociales[cliente.obraSocial] is defined ? obraSociales[cliente.obraSocial] : '' }}</small>
    </div>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-12">
            <h2>Historia Clínica</h2>
            <br>
            <h4>Notas en Turnos</h4>
        </div>
    </div>

    <table class="table table-responsive" style="display: inline-table">
    {% for turno in notasTurnos %}
        <tr style="background-color: #dee2e6">
            <td>{{ turno.fecha ? turno.fecha|date('Y-m-d') : ''}}</td>
        </tr>
        {% for nota in turno.notas %}
            <tr><td>{{ nota }}</td></tr>
        {% endfor %}
    {% endfor %}
    </table>
<br><br>
<h4>Cambios</h4>
    <table class="table table-responsive table-striped">
        <thead>
        <tr>
            <th>F. Ingreso</th>
            <th>F. Egreso</th>
            <th>Modalidad</th>
            <th>Patologia</th>
            <th>Patologia Especifica</th>
            <th>Obra Social</th>
            <th>N. Afiliado</th>
            <th>S. Emergencias</th>
            <th>N. Afiliado</th>
            <th>Habitación</th>
            <th>Cama</th>
            <th>Usuario</th>
            <th>Fecha</th>
        </tr>
        </thead>
        <tbody>
        {% for historia in historiaPaciente %}
            <tr>
                <td>
                    {{ historia.fechaIngreso ? historia.fechaIngreso|date('Y-m-d') : ''}}
                </td>
                <td>
                    {{ historia.fechaEngreso ? historia.fechaEngreso|date('Y-m-d') : '' }}
                </td>
                <td>
                    {% if(historia.modalidad == 1) %}
                        Ambulatorio
                    {% elseif(historia.modalidad == 2) %}
                        Internacion
                    {% elseif(historia.modalidad == 3) %}
                        Hospital de día
                    {% elseif(historia.modalidad == 4) %}
                        ART
                    {% endif %}
                </td>
                <td>
                    {% if(historia.patologia == 1) %}
                        Neurologicas
                    {% elseif(historia.patologia == 2) %}
                        Traumatológicas
                    {% elseif(historia.patologia == 3) %}
                        Respiratorias
                    {% elseif(historia.patologia == 4) %}
                        Paliativos
                    {% elseif(historia.patologia == 5) %}
                        Patologías laborales
                    {% endif %}
                </td>
                <td>{{ historia.patologia_especifica }}</td>
                <td>{{ obraSociales[historia.obra_social] is defined ? obraSociales[historia.obra_social] : '' }}</td>
                <td>{{ historia.nAfiliadoObraSocial }}</td>
                <td>{{ historia.sistemaDeEmergencia }}</td>
                <td>{{ historia.nAfiliadoSistemaDeEmergencia }}</td>
                <td>{{ historia.habitacion }}</td>
                <td>{{ historia.cama }}</td>
                <td class="lowercase">{{ historia.usuario }}</td>
                <td>{{ historia.fecha ? historia.fecha|date('Y-m-d') : '' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">No existen registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-default" href="{{ path('cliente_index') }}">volver</a>
{% endblock %}

