{% extends 'base.html.twig' %}

{% block title %}Pacientes{% endblock %}
{% block panelTitle %}
    <div class="small" id="head">
        Nombre y Apellido: <span class="small">{{ cliente.nombre }} {{ cliente.apellido }}</span><br>
        DNI: <span class="small">{{ cliente.dni }}</span><br>
        Obra social: <span class="small">{{ obraSociales[cliente.obraSocial] is defined ? obraSociales[cliente.obraSocial] : '' }}</span><br>
        Fecha de Ingreso: <span class="small">{{ historiaPaciente[0] is defined and historiaPaciente[0].fechaIngreso ? historiaPaciente[0].fechaIngreso|date('Y-m-d') : cliente.fingreso|date('Y-m-d')}}</span><br>
        {% if historiaPaciente[0] is defined and historiaPaciente[0].fechaEngreso %}
            Fecha de Egreso: <span class="small">{{ historiaPaciente[0] and  historiaPaciente[0].fechaEngreso ? historiaPaciente[0].fechaEngreso|date('Y-m-d') : cliente.fegreso|date('Y-m-d') }}</span>
        {% endif %}
    </div>
{% endblock %}
{% block body %}
    <!-- modal imprimir local inicio -->
    <div class="modal fade bd-example-modal-lg filtrosPlanillaLocal" tabindex="-1" role="dialog" aria-labelledby="filtros" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Seleccione los campos a imprimir</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form-group columnas-de-dos" id="checkboxes">
                        {% for fiel in [
                            'historia-al-ingreso', 'notas', 'notas-en-turnos', 'evoluciones-imprimir', 'novedades', 'epicrisis-al-alta',
                        ] %}
                            <div class="form-check">
                                <input class="form-check-input check" type="checkbox" value="{{ fiel | lower }}" id="{{ fiel }}"
                                        {% if fiel == 'evoluciones-imprimir' %} checked {% endif %}
                                >
                                <label class="form-check-label" for="{{ fiel }}" style="text-transform: capitalize">
                                    {{ fiel }}
                                </label>
                            </div>
                        {% endfor %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="todos" id="todos">
                            <label class="form-check-label" for="todos">
                                Todos
                            </label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="updateLocal">Imprimir</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- modal imprimir local inicio -->

    <div class="row tituloHistoria">
        <div class="col-4">
            <h3>Historia Clinica: {{ cliente.hClinica }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12 historia-al-ingreso" >
            <h4 style="border-top: 1px solid; padding-top: 10px">Ingreso</h4>
            <table class="table table-responsive table-striped">
                {% if ingreso is not empty %}
                    <tr>
                        <th>Antecedentes:</th>
                    </tr>
                    <tr>
                        <td>{{ ingreso.antecedentesTexto }}</td>
                    </tr>
                    <tr>
                        <th>Enfermedad Actual:</th>
                    </tr>
                    <tr>
                        <td>{{ ingreso.enfermedadActual }}</td>
                    </tr>
                    <tr>
                        <th>Exámen Físico al ingreso:</th>
                    </tr>
                    <tr>
                        <td>{{ ingreso.examenFisicoAlIngreso }}</td>
                    </tr>
                    <tr>
                        <th>Exámen Complementario:</th>
                    </tr>
                    <tr>
                        <td>{{ ingreso.examenComplementarioDesc }}</td>
                    </tr>
                    <tr>
                        <th>Indicaciones:</th>
                    </tr>
                    <tr>
                        <td>{{ ingreso.indicaciones }}</td>
                    </tr>
                    <tr>
                        <th>Adjuntos:</th>
                    </tr>
                    <tr>
                        <td>
                            {% if ingreso.examenesComplementeriosFiles is not empty %}
                            {% for examenes in ingreso.examenesComplementeriosFiles %}
                            {% set url = 'uploads/adjuntos/pacientes/' ~ cliente.id ~ "/complementerios/" ~ examenes %}
                                <a href={{ path('download_pdf_adjunto', {'path': url, 'nombre': examenes}) }} >{{ examenes }}</a><br>
                                {% endfor %}
                                {% else %}
                                    No tiene
                                {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        No existen registros
                    </tr>
                {% endif %}
            </table>
        </div>
        <div class="col-12 mb-4 history-col-12 notas">
            <div class="col-4">
                <h4>Notas</h4>
            </div>
            <div class="col-8">

            </div>
            <div class="col-12">
                {% if notasHistoria is not empty %}
                    <table class="table table-responsive table-wrapper-scroll-y my-custom-scrollbar" >
                        <tbody>
                        {% for nota in notasHistoria %}
                            <tr style="background-color: #dee2e6">
                                <td>{{ nota.fecha ? nota.fecha|date('Y-m-d') : ''}}</td>
                            </tr>
                            <tr>
                                <td>{{ nota.text }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    No existen registros
                {% endif %}
            </div>
        </div>
        <div id="accordion" style="width: 100%;" class="notas-en-turnos">
            <div class="col-12 mb-4 history-col-12" id="notasTurnosScroll">
                <div class="col-lg-2 col-sm-12 col-md-2">
                    <h4>Notas en Turnos</h4>
                </div>
                <div class="col-lg-1 col-sm-12 col-md-1">
                    <a href class="btn btn-link abrir" aria-expanded="true" aria-controls="collapseOne" data-toogle="cerrado" data-seccion="notasTurnos">
                        <i class="fas fa-chevron-down"></i>
                    </a>
                </div>
                <div class="col-lg-9 col-sm-12 col-md-9">
                    <form method="get" action="{{ path('cliente_historial', {'id': cliente.id}) }}#notasTurnosScroll" class="remover">
                        <input type="hidden" name="section" value="notasTurnos">
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-xl-1 col-md-6 col-lg-6 col-sm-12 text-right" style="line-height: 40px;height: 35px;">
                                    <label class="control-label">desde:</label>
                                </div>
                                <div class="col-xl-2 col-md-6 col-lg-6 col-sm-12 text-left">
                                    <input class="form-control" type="date" name="notasDesde" required value="{{ notasDesde }}">
                                </div>
                                <div class="col-xl-1 col-md-6 col-lg-6 col-sm-12 text-right" style="line-height: 40px;height: 35px;">
                                    <label class="control-label">hasta:</label>
                                </div>
                                <div class="col-xl-2 col-md-6 col-lg-6 col-sm-12 text-left">
                                    <input class="form-control" type="date" name="notasHasta" required value="{{ notasHasta }}">
                                </div>
                                {#<div class="col-xl-4 col-md-6 col-lg-6 col-sm-12">
                                        <select class="form-control" id="filtrarPorTipo" name="notasTipo">
                                            <option value="0">Todos</option>
                                            <optgroup label="Directo">
                                                {% for contratoDirecto in contratos['directo'] %}
                                                    <option id='{{ contratoDirecto|replace({' ': ''}) }}' value="{{ contratoDirecto }}" {% if contratoDirecto == notasTipo %} selected {% endif %}>{{ contratoDirecto }}</option>
                                                {% endfor %}
                                            </optgroup>
                                            <optgroup label="Prestacion">
                                                {% for contratoPrestacion in contratos['prestacion'] %}
                                                    <option id='{{ contratoPrestacion|replace({' ': ''}) }}' value="{{ contratoPrestacion }}" {% if contratoPrestacion == notasTipo %} selected {% endif %}>{{ contratoPrestacion }}</option>
                                                {% endfor %}
                                            </optgroup>
                                            <optgroup label="Sin Contrato">
                                                {% for contratoSinContrato in contratos['sinContrato'] %}
                                                    <option id='{{ contratoSinContrato|replace({' ': ''}) }}' value="{{ contratoSinContrato }}" {% if contratoSinContrato == notasTipo %} selected {% endif %}>{{ contratoSinContrato }}</option>
                                                {% endfor %}
                                            </optgroup>
                                        </select>
                                    </div>#}
                                <div class="col-xl-1 col-md-6 col-lg-3 col-sm-6">
                                    <button type="submit" class="btn btn-default" style="width: 100%;">filtrar</button>
                                </div>
                                <div class="col-xl-1 col-md-6 col-lg-3 col-sm-6">
                                    <a class="btn btn-default" href="{{ path('cliente_historial', {'id': cliente.id}) }}#notasTurnosScroll" style="width: 100%;">limpiar</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-12">
                    <div id="notasTurnos" class="collapse {% if section == 'notasTurnos' %} show {% endif %}" aria-labelledby="headingOne" data-parent="#accordion">
                        {% if notasTurnos is not empty %}
                            <table class="table table-responsive table-wrapper-scroll-y" >
                                <tbody>
                                {% for turno in notasTurnos %}
                                    <tr style="background-color: #dee2e6">
                                        <td>{{ turno.fecha ? turno.fecha|date('Y-m-d') : ''}}</td>
                                        <td>{{ turno.doctor ? turno.doctor : ''}}</td>
                                        <td>{{ turno.modalidad ? turno.modalidad : ''}}</td>
                                    </tr>
                                    {% for nota in turno.notas %}
                                        <tr><td colspan="3">{{ nota }}</td></tr>
                                    {% endfor %}
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            No existen registros
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div id="accordion" style="width: 100%;" class="evoluciones-imprimir">
            <div class="col-12 mb-4 history-col-12" id="evolucionesScroll">
                <div class="col-lg-2 col-sm-12 col-md-2">
                    <h4>Evoluciones</h4>
                </div>
                <div class="col-lg-1 col-sm-12 col-md-1">
                    <a href class="btn btn-link abrir" aria-expanded="true" aria-controls="collapseOne" data-toogle="cerrado" data-seccion="evoluciones">
                        <i class="fas fa-chevron-down"></i>
                    </a>
                </div>
                <div class="col-lg-9 col-sm-12 col-md-9">
                    <form method="get" action="{{ path('cliente_historial', {'id': cliente.id}) }}#evolucionesScroll" class="remover">
                        <input type="hidden" name="section" value="evoluciones">
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-xl-1 col-md-6 col-lg-6 col-sm-12 text-right" style="line-height: 40px;height: 35px;">
                                    <label class="control-label">desde:</label>
                                </div>
                                <div class="col-xl-2 col-md-6 col-lg-6 col-sm-12 text-left">
                                    <input class="form-control" type="date" name="evolucionesDesde" value="{{ evolucionesDesde }}">
                                </div>
                                <div class="col-xl-1 col-md-6 col-lg-6 col-sm-12 text-right" style="line-height: 40px;height: 35px;">
                                    <label class="control-label">hasta:</label>
                                </div>
                                <div class="col-xl-2 col-md-6 col-lg-6 col-sm-12 text-left">
                                    <input class="form-control" type="date" name="evolucionesHasta" value="{{ evolucionesHasta }}">
                                </div>
                                <div class="col-xl-4 col-md-6 col-lg-6 col-sm-12">
                                    <select class="form-control" id="filtrarPorTipo" name="filtrarPorTipo[]" multiple data-placeholder="Especialidad">
                                            {% for contrato in contratos %}
                                                <option id='{{ contrato|replace({' ': ''}) }}' value="{{ contrato }}" {% if contrato in tipoEvolucion %} selected {% endif %}>{{ contrato }}</option>
                                            {% endfor %}
                                    </select>
                                </div>
                                <div class="col-xl-1 col-md-6 col-lg-3 col-sm-6">
                                    <button type="submit" class="btn btn-default" style="width: 100%;">filtrar</button>
                                </div>
                                <div class="col-xl-1 col-md-6 col-lg-3 col-sm-6">
                                    <a class="btn btn-default" href="{{ path('cliente_historial', {'id': cliente.id}) }}#evolucionesScroll" style="width: 100%;">limpiar</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-12">
                    <div id="evoluciones" class="collapse {% if section == 'evoluciones' %} show {% endif %}" aria-labelledby="headingOne" data-parent="#accordion">
                        {% if evoluciones is not empty %}
                            <table class="table table-responsive table-wrapper-scroll-y" >
                                <tbody>
                                {% for evolucion in evoluciones %}
                                    <tr style="background-color: #dee2e6; display: table; width: 100%; table-layout: fixed;">
                                        <td>
                                            <span {% if puedeEditarEvolucion %} class="col-9"  {% endif %}>
                                                {{ evolucion['evolucion'].fecha ? evolucion['evolucion'].fecha|date('Y-m-d') : ''}} - {{ evolucion['evolucion'].tipo }} - {{ evolucion['evolucion'].user }}
                                            </span>
                                            {% if puedeEditarEvolucion %}
                                                <span class="col-3">
                                                    {% set evolucionId = evolucion['evolucion'].id %}
                                                    <a href="{{ path('evolucion_edit', { 'id': evolucionId}) }}">
                                                        <i class="fas fa-pencil-alt"></i>
                                                    </a>
                                                </span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>{{ evolucion['evolucion'].description }}</td>
                                    </tr>
                                    {% if evolucion['firma'] is not empty %}
                                        <tr>
                                            <td><img src="{{ absolute_url(asset('uploads/firmas/')) }}{{ evolucion['firma'] }}" style="max-width: 140px;"/></td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td><i>Firma no registrada</i></td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            No existen registros
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div id="accordion" style="width: 100%;" class="novedades">
            <div class="col-12 mb-4 history-col-12" id="novedadesScroll">
                <div class="col-lg-2 col-sm-12 col-md-2">
                    <h4>Novedades</h4>
                </div>
                <div class="col-lg-1 col-sm-12 col-md-1">
                    <a href class="btn btn-link abrir" aria-expanded="true" aria-controls="collapseOne" data-toogle="cerrado" data-seccion="novedades">
                        <i class="fas fa-chevron-down"></i>
                    </a>
                </div>
                <div class="col-lg-9 col-sm-12 col-md-9">
                    <form method="get" action="{{ path('cliente_historial', {'id': cliente.id}) }}#novedadesScroll" class="remover">
                        <input type="hidden" name="section" value="novedades">
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-xl-1 col-md-6 col-lg-6 col-sm-12 text-right" style="line-height: 40px;height: 35px;">
                                    <label class="control-label">desde:</label>
                                </div>
                                <div class="col-xl-2 col-md-6 col-lg-6 col-sm-12 text-left">
                                    <input class="form-control" type="date" name="novedadesDesde" value="{{ evolucionesDesde }}">
                                </div>
                                <div class="col-xl-1 col-md-6 col-lg-6 col-sm-12 text-right" style="line-height: 40px;height: 35px;">
                                    <label class="control-label">hasta:</label>
                                </div>
                                <div class="col-xl-2 col-md-6 col-lg-6 col-sm-12 text-left">
                                    <input class="form-control" type="date" name="novedadesHasta" value="{{ evolucionesHasta }}">
                                </div>
                                <div class="col-xl-1 col-md-6 col-lg-3 col-sm-6">
                                    <button type="submit" class="btn btn-default" style="width: 100%;">filtrar</button>
                                </div>
                                <div class="col-xl-1 col-md-6 col-lg-3 col-sm-6">
                                    <a class="btn btn-default" href="{{ path('cliente_historial', {'id': cliente.id}) }}#novedadesScroll" style="width: 100%;">limpiar</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-12">
                    <div id="novedades" class="collapse {% if section == 'novedades' %} show {% endif %}" aria-labelledby="headingOne" data-parent="#accordion">
                        {% if historiaPaciente is not empty %}
                            <table class="table table-responsive table-striped table-wrapper-scroll-y">
                                <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Cambio</th>
                                    <th>Usuario</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for key, historia in historiaPaciente %}
                                    <tr>
                                        {% if key > 0 %}
                                            <td>{{ historia.fecha ? historia.fecha|date('Y-m-d') : ''}}</td>
                                            <td class="lowercase">
                                                {% if historia.modalidad != historiaPaciente[key - 1].modalidad %}
                                                    <b class="text-capitalize">modalidad:</b> de <b class="text-capitalize">
                                                    {% if(historiaPaciente[key - 1].modalidad == 1) %}
                                                        Ambulatorio
                                                    {% elseif(historiaPaciente[key - 1].modalidad == 2) %}
                                                        Internacion
                                                    {% elseif(historiaPaciente[key - 1].modalidad == 3) %}
                                                        Hospital de día
                                                    {% elseif(historiaPaciente[key - 1].modalidad == 4) %}
                                                        ART
                                                    {% endif %}
                                                </b>
                                                    a
                                                    <b class="text-capitalize">
                                                        {% if(historia.modalidad == 1) %}
                                                            Ambulatorio
                                                        {% elseif(historia.modalidad == 2) %}
                                                            Internacion
                                                        {% elseif(historia.modalidad == 3) %}
                                                            Hospital de día
                                                        {% elseif(historia.modalidad == 4) %}
                                                            ART
                                                        {% endif %}
                                                    </b>
                                                    <br>
                                                {% endif %}
                                                {% if historia.patologia != historiaPaciente[key - 1].patologia %}
                                                    <b class="text-capitalize">Patología:</b> de
                                                    <b class="text-capitalize">
                                                        {% if(historia.patologia == 1) %}
                                                            Neurologicas
                                                        {% elseif(historia.patologia == 2) %}
                                                            Traumatológicas
                                                        {% elseif(historia.patologia == 3) %}
                                                            Respiratorias
                                                        {% elseif(historia.patologia == 4) %}
                                                            Paliativos
                                                        {% elseif(historia.patologia == 4) %}
                                                            Patologías laborales
                                                        {% endif %}
                                                    </b>
                                                    a
                                                    <b class="text-capitalize">
                                                        {% if(historiaPaciente[key - 1].patologia == 1) %}
                                                            Neurologicas
                                                        {% elseif(historiaPaciente[key - 1].patologia == 2) %}
                                                            Traumatológicas
                                                        {% elseif(historiaPaciente[key - 1].patologia == 3) %}
                                                            Respiratorias
                                                        {% elseif(historiaPaciente[key - 1].patologia == 4) %}
                                                            Paliativos
                                                        {% elseif(historiaPaciente[key - 1].patologia == 4) %}
                                                            Patologías laborales
                                                        {% endif %}
                                                    </b>
                                                    <br>
                                                {% endif %}
                                                {% if historia.patologiaEspecifica != historiaPaciente[key - 1].patologiaEspecifica %}
                                                    <b class="text-capitalize">Patologia Especifica:</b>
                                                    de
                                                    <b class="text-capitalize">{{ historiaPaciente[key - 1].patologiaEspecifica }}</b>
                                                    a
                                                    <b class="text-capitalize">{{ historia.patologiaEspecifica }}</b>
                                                    <br>
                                                {% endif %}
                                                {% if historia.obraSocial != historiaPaciente[key - 1].obraSocial %}
                                                    <b class="text-capitalize">Obra Social:</b>
                                                    de
                                                    <b class="text-capitalize">{{ (historiaPaciente[key - 1].obraSocial is not empty and obraSociales[historiaPaciente[key - 1].obraSocial] is not empty) ? obraSociales[historiaPaciente[key - 1].obraSocial] : 'Vacío' }}</b>
                                                    a
                                                    <b class="text-capitalize">{{ (historia.obraSocial is not empty and obraSociales[historia.obraSocial] is not empty) ? obraSociales[historia.obraSocial] : 'Vacío' }}</b>
                                                    <br>
                                                {% endif %}

                                                {% if historia.nAfiliadoObraSocial != historiaPaciente[key - 1].nAfiliadoObraSocial %}
                                                    <b class="text-capitalize">Nº Afiliado OS:</b>
                                                    de
                                                    <b class="text-capitalize">{{ historiaPaciente[key - 1].nAfiliadoObraSocial }}</b>
                                                    a
                                                    <b class="text-capitalize">{{ historia.nAfiliadoObraSocial }}</b>
                                                    <br>
                                                {% endif %}
                                                {% if historia.sistemaDeEmergencia != historiaPaciente[key - 1].sistemaDeEmergencia %}
                                                    <b class="text-capitalize">Sistema De Emergencia:</b>
                                                    de
                                                    <b class="text-capitalize">{{ historiaPaciente[key - 1].sistemaDeEmergencia }}</b>
                                                    a
                                                    <b class="text-capitalize">{{ historia.sistemaDeEmergencia }}</b>
                                                    <br>
                                                {% endif %}
                                                {% if historia.nAfiliadoSistemaDeEmergencia != historiaPaciente[key - 1].nAfiliadoSistemaDeEmergencia %}
                                                    <b class="text-capitalize">Nº Afiliado SdE:</b>
                                                    de
                                                    <b class="text-capitalize">{{ historiaPaciente[key - 1].nAfiliadoSistemaDeEmergencia }}</b>
                                                    a
                                                    <b class="text-capitalize">{{ historia.nAfiliadoSistemaDeEmergencia }}</b>
                                                    <br>
                                                {% endif %}
                                                {% if historia.habitacion != historiaPaciente[key - 1].habitacion %}
                                                    <b class="text-capitalize">habitacion:</b>
                                                    de
                                                    <b class="text-capitalize">{{ historiaPaciente[key - 1].habitacion }}</b>
                                                    a
                                                    <b class="text-capitalize">{{ historia.habitacion }}</b>
                                                    <br>
                                                {% endif %}
                                                {% if historia.cama != historiaPaciente[key - 1].cama %}
                                                    <b class="text-capitalize">cama:</b>
                                                    de
                                                    <b class="text-capitalize">{{ historiaPaciente[key - 1].cama }}</b>
                                                    a
                                                    <b class="text-capitalize">{{ historia.cama }}</b>
                                                    <br>
                                                {% endif %}
                                                {% if historia.fechaIngreso != historiaPaciente[key - 1].fechaIngreso %}
                                                    <b class="text-capitalize">Fecha de Ingreso:</b>
                                                    de
                                                    <b class="text-capitalize">{{ historiaPaciente[key - 1].fechaIngreso | date('Y-m-d') }}</b>
                                                    a
                                                    <b class="text-capitalize">{{ historia.fechaIngreso | date('Y-m-d') }}</b>
                                                    <br>
                                                {% endif %}
                                                {% if historia.fechaDerivacion != historiaPaciente[key - 1].fechaDerivacion %}
                                                    <b class="text-capitalize">Fecha de Derivacion:</b>
                                                    de
                                                    <b class="text-capitalize">{{ historiaPaciente[key - 1].fechaDerivacion is not empty ? historiaPaciente[key - 1].fechaDerivacion | date('Y-m-d') : 'Vacío' }}</b>
                                                    a
                                                    <b class="text-capitalize">{{ historia.fechaDerivacion is not empty ? historia.fechaDerivacion | date('Y-m-d') : 'Vacio' }}</b>
                                                    <br>
                                                {% endif %}
                                                {% if historia.fechaReingresoDerivacion != historiaPaciente[key - 1].fechaReingresoDerivacion %}
                                                    <b class="text-capitalize">Fecha de reingreso de Derivacion:</b>
                                                    de
                                                    <b class="text-capitalize">{{ historiaPaciente[key - 1].fechaReingresoDerivacion is not empty ? historiaPaciente[key - 1].fechaReingresoDerivacion | date('Y-m-d') : 'Vacío' }}</b>
                                                    a
                                                    <b class="text-capitalize">{{ historia.fechaReingresoDerivacion is not empty ? historia.fechaReingresoDerivacion | date('Y-m-d') : 'Vacio' }}</b>
                                                    <br>
                                                {% endif %}
                                                {% if historia.motivoDerivacion != historiaPaciente[key - 1].motivoDerivacion %}
                                                    <b class="text-capitalize">Motivo de Derivacion:</b>
                                                    de
                                                    <b class="text-capitalize">{{ historiaPaciente[key - 1].motivoDerivacion }}</b>
                                                    a
                                                    <b class="text-capitalize">{{ historia.motivoDerivacion }}</b>
                                                    <br>
                                                {% endif %}
                                                {% if historia.derivadoEn != historiaPaciente[key - 1].derivadoEn %}
                                                    <b class="text-capitalize">Derivado En:</b>
                                                    de
                                                    <b class="text-capitalize">{{ historiaPaciente[key - 1].derivadoEn }}</b>
                                                    a
                                                    <b class="text-capitalize">{{ historia.derivadoEn }}</b>
                                                    <br>
                                                {% endif %}
                                                {% if historia.empresaTransporteDerivacion != historiaPaciente[key - 1].empresaTransporteDerivacion %}
                                                    <b class="text-capitalize">Empresa de Transporte de Derivacion:</b>
                                                    de
                                                    <b class="text-capitalize">{{ historiaPaciente[key - 1].empresaTransporteDerivacion }}</b>
                                                    a
                                                    <b class="text-capitalize">{{ historia.empresaTransporteDerivacion }}</b>
                                                    <br>
                                                {% endif %}
                                                {% if historia.fechaAltaPorPermiso != historiaPaciente[key - 1].fechaAltaPorPermiso %}
                                                    <b class="text-capitalize">Fecha de Alta Por Permiso:</b>
                                                    de
                                                    <b class="text-capitalize">{{ historiaPaciente[key - 1].fechaAltaPorPermiso is not empty ? historiaPaciente[key - 1].fechaAltaPorPermiso | date('Y-m-d') : 'vacio'}}</b>
                                                    a
                                                    <b class="text-capitalize">{{ historia.fechaAltaPorPermiso is not empty ? historia.fechaAltaPorPermiso | date('Y-m-d') : 'vacio'}}</b>
                                                    <br>
                                                {% endif %}
                                                {% if historia.fechaBajaPorPermiso != historiaPaciente[key - 1].fechaBajaPorPermiso %}
                                                    <b class="text-capitalize">Fecha de Baja Por Permiso:</b>
                                                    de
                                                    <b class="text-capitalize">{{ historiaPaciente[key - 1].fechaBajaPorPermiso is not empty ? historiaPaciente[key - 1].fechaBajaPorPermiso | date('Y-m-d') : 'vacio'}}</b>
                                                    a
                                                    <b class="text-capitalize">{{ historia.fechaBajaPorPermiso is not empty ? historia.fechaBajaPorPermiso | date('Y-m-d') : 'vacio'}}</b>
                                                    <br>
                                                {% endif %}
                                                {% if historia.dePermiso != historiaPaciente[key - 1].dePermiso %}
                                                    <b class="text-capitalize">De Permiso:</b>
                                                    de
                                                    <b class="text-capitalize">{{ historiaPaciente[key - 1].dePermiso is empty or historiaPaciente[key - 1].dePermiso == 0 ? 'no' : 'si' }}</b>
                                                    a
                                                    <b class="text-capitalize">{{ historia.dePermiso is empty or historia.dePermiso == 0 ? 'no' : 'si'}}</b>
                                                    <br>
                                                {% endif %}
                                                {% if historia.ambulatorio != historiaPaciente[key - 1].ambulatorio %}
                                                    <b class="text-capitalize">Ambulatorio:</b>
                                                    de
                                                    <b class="text-capitalize">{{ historiaPaciente[key - 1].ambulatorio is empty or historiaPaciente[key - 1].ambulatorio == 0 ? 'no' : 'si' }}</b>
                                                    a
                                                    <b class="text-capitalize">{{ historia.ambulatorio is empty or historia.ambulatorio == 0 ? 'no' : 'si'}}</b>
                                                    <br>
                                                {% endif %}
                                            </td>
                                            <td class="lowercase">{{ historia.usuario }}</td>
                                        {% endif %}

                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="15">No existen registros</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            No existen registros
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mb-4 history-col-12 epicrisis-al-alta" >
            {% if historiaEgreso is not empty %}
                <div class="col-4">
                    <h4>Epicrisis al Alta</h4>
                </div>
                <div class="col-8">

                </div>
                <div class="col-12">
                    <table class="table table-responsive table-wrapper-scroll-y my-custom-scrollbar" >
                        <tbody>
                        {% for hist in historiaEgreso %}
                            <tr style="background-color: #dee2e6">
                                <td>{{ hist.fecha ? hist.fecha|date('Y-m-d') : ''}}</td>
                            </tr>
                            <tr>
                                <td>{{ hist.epicrisisAlta }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
    </div>
    <a class="btn btn-default" href="javascript:history.back();">volver</a>
{% endblock %}

{% block titleButtons %}

    <div class="col-sm" style="align-items: center; justify-content: center; display: flex;">
        <button class="btn btn-default" id="imprimirLocal" style="font-size: 2rem; padding: 1rem 2rem"><i class="fas fa-print"></i></button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalEpi" style="margin-left: 15px;">
            Epicrisis
        </button>
    </div>

    <div class="modal fade bd-example-modal-lg" id="modalEpi" tabindex="-1" role="dialog" aria-labelledby="epicrisis" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Epicrisis</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form method="get" id="epiform" action="{{ path('epicrisis', {'id': cliente.id}) }}">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Epicrisis al Alta</label>
                            <textarea class="form-control" name="epicrisisAlAlta" id="epicrisisAlAlta" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Imprimir</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        function onsubmited(event) {
            event.preventDefault();
            let epicrisisAlAltaText = $('#epicrisisAlAlta').val();
            $.ajax({
                url: "{{ path('guardar_epi', {'id': cliente.id}) }}",
                data: {
                    epicrisisAlAlta: epicrisisAlAltaText,
                },
                method: 'POST',
                success: function (response) {
                    $('body').find('.container-fluid').find('a').remove();
                    $('body').find('.container-fluid').find('button').remove();
                    $('body').find('.remover').remove();
                    $('.modal').remove();
                    let tables = $('body').find('.container-fluid').find('.table-wrapper-scroll-y');
                    tables.removeClass('table-wrapper-scroll-y');
                    let html = '<head>' + $('head').html() + '</head>';
                    html += $('body').find('.container-fluid').html();
                    html += '<div class="col-sm-12"><h4>Epicrisis al Alta</h4></div>';
                    html += '<div class="col-sm-12"><p>'+ epicrisisAlAltaText +'</p></div>';
                    imprimirElemento(html);
                    location.reload();
                }
            });
        }

        const epicForm = document.getElementById('epiform');
        epicForm.addEventListener('submit', onsubmited);


        $('.abrir').click(function (e) {
            e.preventDefault();
            let seccion = $(this).data('seccion');
            if($(this).data('toogle') === 'cerrado') {
                $('#'+seccion).collapse('show');
                $(this).data('toogle', 'abierto');
                $(this).html('<i class="fas fa-chevron-up"></i>');
            } else {
                $('#'+seccion).collapse('hide');
                $(this).data('toogle', 'cerrado');
                $(this).html('<i class="fas fa-chevron-down"></i>');
            }
        });

        $("#imprimirLocal").on('click', function () {
            $('.filtrosPlanillaLocal').modal('show');
        });

        $("#updateLocal").on('click', function () {
            let checkboxes = GetSelected('checkboxes');
            if (checkboxes.length < 1) {
                alert('seleccione al menos un campo')
            } else {
                let seccionesSelected = checkboxes;
                let secciones = ['historia-al-ingreso', 'notas', 'notas-en-turnos', 'evoluciones-imprimir', 'novedades', 'epicrisis-al-alta'];

                secciones.forEach((seccion) => {
                    if (!seccionesSelected.includes(seccion)) {
                        $('.'+seccion).remove();
                    } else {
                        $('.'+seccion).find('.btn.btn-link.abrir .fas.fa-chevron-down').click();
                    }
                });

                $('body').find('.container-fluid').find('a').remove();
                $('body').find('.container-fluid').find('button').remove();
                $('body').find('.remover').remove();
                $('.modal').remove();
                setTimeout(() => {
                    let tables = $('body').find('.container-fluid').find('.table-wrapper-scroll-y');
                    tables.removeClass('table-wrapper-scroll-y');
                    $('#head').css('font-size', '15px')
                    let headers = $('#head').parent().parent();
                    headers.addClass('repetedHeader');
                    let newHeader = '<div class="row"><div class="col-sm-8">' + headers.html() + '</div>';
                    newHeader += '<div id="logos" class="col-sm-4"><img style="max-width:100px; float:right;" src="{{ absolute_url(asset('assets/images/plusVitaLogo.png')) }}"></div></div>';
                    newHeader += '<div class="row>' + $('.tituloHistoria').html() + '</div>';
                    headers.remove();
                    $('#logos').remove();
                    $('.tituloHistoria').remove();

                    /*setTimeout(() => {
                        let html = '<head>' + $('head').html() + '</head>';
                        html += $('body').find('.container-fluid').html();
                        imprimirElemento(newHeader);
                        location.reload();
                    }, 1000);*/


                    let html = '<head>' + $('head').html() + '</head>';
                    let headStyles = '<head>' + $('head').html() + '</head>';
                    html += $('body').find('.container-fluid').html();

                    $('.filtrosPlanillaLocal').modal('hide');

                    $.form("{{ path('imprimir_pdf') }}", { 'header': newHeader, 'html': html, 'headStyles': headStyles }).submit();

                    $.ajax({
                        url: "{{ path('imprimir_pdf') }}",
                        data: {
                            'header': newHeader, 'html': html, 'headStyles': headStyles
                        },
                        method: 'POST',
                        success: function (response) {
                            setTimeout(() => location.reload(), 10000);

                        }
                    });


                }, 1000);


            }
        });

        $('#filtrarPorTipo').chosen()

    </script>
{% endblock %}



