{% extends 'base.html.twig' %}

{% block title %}Historico{% endblock %}
{% block stylesheets %}
    {{ parent() }}

{% endblock %}
{% block panelTitle %}Historico{% endblock %}
{% block body %}
    <form>
        <div class="row">
            <div class="col">
                <label for="from">Desde</label>
                <input class="form-control js-datepicker" type="text" id="from" autocomplete="off" name="from" value="{{ from }}">
            </div>
            <div class="col">
                <label for="to">Hasta</label>
                <input class="form-control js-datepicker" type="text" id="to" autocomplete="off" name="to" value="{{ to }}">
            </div>
            <div class="col">
                <label for="modalidad">Estado</label>
                <select class="form-control" name="modalidad">
                    <option value="0">Todos</option>
                    <option value="2" {{ modalidad == 2 ? 'selected' : '' }}>Internados</option>
                    <option value="1" {{ modalidad == 1 ? 'selected' : '' }}>Ambulatorios</option>
                </select>
            </div>
            <div class="col">
                <label for="nombre">Nombre / Apellido</label>
                <input class="form-control" type="text" id="nombre" name="nombre" value="{{ nombre }}">
            </div>
            <div class="col">
                <label for="obraSocial">O. Social</label>
                <select class="form-control" name="obraSocial">
                    <option value="">Seleccione una O. Social</option>
                    {% for idObra, obra in obraSociales %}
                        <option {{ obraSocial == idObra ? 'selected' : '' }} value="{{ idObra }}">{{ obra }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-5">
                <label for="prof">Profesional</label>
                <select class="form-control" name="prof">
                    <option value="">Seleccione un Profesional</option>
                    {% for profesional in profesionales %}
                        <option class="text-uppercase" {{ prof == profesional.id ? 'selected' : '' }} value="{{ profesional.id }}">{{ profesional.apellido }} {{ profesional.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-2">
                <label for="vto">Vto. Autorizaciones</label>
                <input class="form-control js-datepicker" type="text" id="vto" autocomplete="off" name="vto" value="{{ vto }}">
            </div>
            <div class="col-2">
                <label for="vto">Resultados por Página</label>
                <select class="form-control" name="limit" id="limit">
                    <option value="10" {% if (limit == 10) %} selected {% endif %}>10</option>
                    <option value="50" {% if (limit == 50) %} selected {% endif %}>50</option>
                    <option value="100" {% if (limit == 100) %} selected {% endif %}>100</option>
                    <option value="200" {% if (limit == 200) %} selected {% endif %}>200</option>
                    <option value="100000000000000" {% if (limit == 100000000000000) %} selected {% endif %}>Todos</option>

                </select>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <button type="submit" class="btn btn-primary">Buscar</button>
                <a href="{{ path('cliente_historicos') }}" class="btn btn-action">Limpiar</a>
            </div>
            <div class="col">
                <h5>Total: <span class="badge badge-secondary">{{ total }}</span></h5>
            </div>
        </div>
    </form>
    <div class="printiable">
        <div class="row mt-4">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th colspan="2">
                            {% if maxPages > 1 %}
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    {%if thisPage > 1 %}
                                        <li class="page-item" >
                                            <a class="page-link" href="{{ path('cliente_historicos', {currentPage: thisPage-1 < 1 ? 1 : thisPage-1}) }}">«</a>
                                        </li>
                                    {% endif %}

                                    {# Render each page number #}
                                    {% for i in 1..maxPages %}
                                        <li class="page-item {% if thisPage == i %}active{% endif %}">
                                            <a class="page-link" href="{{ path('cliente_historicos', {currentPage: i}) }}">{{ i }}</a>
                                        </li>
                                    {% endfor %}

                                    {# `»` arrow #}
                                    {%if thisPage < maxPages %}
                                        <li class="page-item">
                                            <a class="page-link" href="{{ path('cliente_historicos', {currentPage: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}">»</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                            {% endif %}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for cliente, historiaPaciente in historiasArray %}
                        <tr class="cliente-tr">
                            <td class="text-capitalize datos" >
                                H.C.: {{ historiaPaciente[0].cliente.hClinica }}
                            </td>
                            <td class="text-capitalize datos">
                                {% if prof is defined %}
                                    <a class="" href="{{ path('cliente_historial', {'id': historiaPaciente[0].cliente.id, 'prof': prof}) }}">
                                        {{ cliente }}
                                    </a>
                                {% else %}
                                    <a class="" href="{{ path('cliente_historial', {'id': historiaPaciente[0].cliente.id}) }}">
                                        {{ cliente }}
                                    </a>
                                {% endif %}
                            </td>
                            {% set last = historiaPaciente|last %}
                            {% if last.cliente.vtoSesiones is not null %}
                                <td class="datos">
                                    Vto Sesiones: {{ last.cliente.vtoSesiones | date('d/m/Y')}}
                                </td>
                            {% endif %}
                            {% if last.fechaIngreso is not null %}
                                <td class="datos">
                                    Ingreso: {{ last.fechaIngreso | date('d/m/Y')}}
                                </td>
                            {% endif %}
                            {% if last.fechaEngreso is not null %}
                                <td class="datos">
                                    Egreso: {{ last.fechaEngreso | date('d/m/Y')}}
                                </td>
                            {% endif %}
                            {% if last.fechaDerivacion is not null %}
                                <td class="datos">
                                    Derivacion: {{ last.fechaDerivacion | date('d/m/Y')}}
                                </td>
                            {% endif %}
                            {% if last.fechaReingresoDerivacion is not null %}
                                <td class="datos">
                                    R. Derivacion: {{ last.fechaReingresoDerivacion | date('d/m/Y')}}
                                </td>
                            {% endif %}
                            {% if last.fechaBajaPorPermiso is not null %}
                                <td class="datos">
                                    Baja Por Permiso: {{ last.fechaBajaPorPermiso | date('d/m/Y')}}
                                </td>
                            {% endif %}
                            {% if last.fechaAltaPorPermiso is not null %}
                                <td class="datos">
                                    Alta Por Permiso: {{ last.fechaAltaPorPermiso | date('d/m/Y')}}
                                </td>
                            {% endif %}

                        </tr>
                        <tr>
                            <th>Fecha</th>
                            <th>Novedad</th>
                            <th>Usuario</th>
                        </tr>
                        {% for key, historia in historiaPaciente %}
                            <tr>
                                {% if key > 0 %}
                                    {% set cambio = 0 %}
                                    <td class="novedades">{{ historia.fecha ? historia.fecha|date('d/m/Y') : ''}}</td>
                                    <td class="lowercase">
                                        {% if historia.modalidad != historiaPaciente[key - 1].modalidad %}
                                            {% set cambio = 1 %}
                                            <b class="text-capitalize">modalidad:</b> de <b class="text-capitalize">
                                            {% if(historiaPaciente[key - 1].modalidad == 1) %}
                                                Ambulatorio
                                            {% elseif(historiaPaciente[key - 1].modalidad == 2) %}
                                                Internacion
                                            {% elseif(historiaPaciente[key - 1].modalidad == 3) %}
                                                Hospital de día
                                            {% elseif(historiaPaciente[key - 1].modalidad == 4) %}
                                                ART
                                            {% endif %}
                                        </b>
                                            a
                                            <b class="text-capitalize">
                                                {% if(historia.modalidad == 1) %}
                                                    Ambulatorio
                                                {% elseif(historia.modalidad == 2) %}
                                                    Internacion
                                                {% elseif(historia.modalidad == 3) %}
                                                    Hospital de día
                                                {% elseif(historia.modalidad == 4) %}
                                                    ART
                                                {% endif %}
                                            </b>
                                            <br>
                                        {% endif %}
                                        {% if historia.patologia != historiaPaciente[key - 1].patologia %}
                                            {% set cambio = 1 %}
                                            <b class="text-capitalize">Patología:</b> de
                                            <b class="text-capitalize">
                                                {% if(historia.patologia == 1) %}
                                                    Neurologicas
                                                {% elseif(historia.patologia == 2) %}
                                                    Traumatológicas
                                                {% elseif(historia.patologia == 3) %}
                                                    Respiratorias
                                                {% elseif(historia.patologia == 4) %}
                                                    Paliativos
                                                {% elseif(historia.patologia == 4) %}
                                                    Patologías laborales
                                                {% endif %}
                                            </b>
                                            a
                                            <b class="text-capitalize">
                                                {% if(historiaPaciente[key - 1].patologia == 1) %}
                                                    Neurologicas
                                                {% elseif(historiaPaciente[key - 1].patologia == 2) %}
                                                    Traumatológicas
                                                {% elseif(historiaPaciente[key - 1].patologia == 3) %}
                                                    Respiratorias
                                                {% elseif(historiaPaciente[key - 1].patologia == 4) %}
                                                    Paliativos
                                                {% elseif(historiaPaciente[key - 1].patologia == 4) %}
                                                    Patologías laborales
                                                {% endif %}
                                            </b>
                                            <br>
                                        {% endif %}
                                        {% if historia.patologiaEspecifica != historiaPaciente[key - 1].patologiaEspecifica %}
                                            {% set cambio = 1 %}
                                            <b class="text-capitalize">Patologia Especifica:</b>
                                            de
                                            <b class="text-capitalize">{{ historiaPaciente[key - 1].patologiaEspecifica }}</b>
                                            a
                                            <b class="text-capitalize">{{ historia.patologiaEspecifica }}</b>
                                            <br>
                                        {% endif %}
                                        {% if historia.obraSocial != historiaPaciente[key - 1].obraSocial %}
                                            {% set cambio = 1 %}
                                            <b class="text-capitalize">Obra Social:</b>
                                            de
                                            <b class="text-capitalize">{{ (historiaPaciente[key - 1].obraSocial is not empty and obraSociales[historiaPaciente[key - 1].obraSocial] is not empty) ? obraSociales[historiaPaciente[key - 1].obraSocial] : 'Vacío' }}</b>
                                            a
                                            <b class="text-capitalize">{{ (historia.obraSocial is not empty and obraSociales[historia.obraSocial] is not empty) ? obraSociales[historia.obraSocial] : 'Vacío' }}</b>
                                            <br>
                                        {% endif %}

                                        {% if historia.nAfiliadoObraSocial != historiaPaciente[key - 1].nAfiliadoObraSocial %}
                                            {% set cambio = 1 %}
                                            <b class="text-capitalize">Nº Afiliado OS:</b>
                                            de
                                            <b class="text-capitalize">{{ historiaPaciente[key - 1].nAfiliadoObraSocial }}</b>
                                            a
                                            <b class="text-capitalize">{{ historia.nAfiliadoObraSocial }}</b>
                                            <br>
                                        {% endif %}
                                        {% if historia.sistemaDeEmergencia != historiaPaciente[key - 1].sistemaDeEmergencia %}
                                            {% set cambio = 1 %}
                                            <b class="text-capitalize">Sistema De Emergencia:</b>
                                            de
                                            <b class="text-capitalize">{{ historiaPaciente[key - 1].sistemaDeEmergencia }}</b>
                                            a
                                            <b class="text-capitalize">{{ historia.sistemaDeEmergencia }}</b>
                                            <br>
                                        {% endif %}
                                        {% if historia.nAfiliadoSistemaDeEmergencia != historiaPaciente[key - 1].nAfiliadoSistemaDeEmergencia %}
                                            {% set cambio = 1 %}
                                            <b class="text-capitalize">Nº Afiliado SdE:</b>
                                            de
                                            <b class="text-capitalize">{{ historiaPaciente[key - 1].nAfiliadoSistemaDeEmergencia }}</b>
                                            a
                                            <b class="text-capitalize">{{ historia.nAfiliadoSistemaDeEmergencia }}</b>
                                            <br>
                                        {% endif %}
                                        {% if historia.habitacion != historiaPaciente[key - 1].habitacion %}
                                            {% set cambio = 1 %}
                                            <b class="text-capitalize">habitacion:</b>
                                            de
                                            <b class="text-capitalize">{{ (historiaPaciente[key - 1].habitacion and historiaPaciente[key - 1].habitacion in habitacionesArray|keys) ? habitacionesArray[historiaPaciente[key - 1].habitacion] : 'ninguna' }}</b>
                                            a
                                            <b class="text-capitalize">{{ (historia.habitacion and historia.habitacion in habitacionesArray|keys) ? habitacionesArray[historia.habitacion] : 'ninguna'}}</b>
                                            <br>
                                        {% endif %}
                                        {% if historia.cama != historiaPaciente[key - 1].cama %}
                                            {% set cambio = 1 %}
                                            <b class="text-capitalize">cama:</b>
                                            de
                                            <b class="text-capitalize">{{ historiaPaciente[key - 1].cama ?? 'ninguna' }}</b>
                                            a
                                            <b class="text-capitalize">{{ historia.cama ?? 'ninguna'}}</b>
                                            <br>
                                        {% endif %}
                                        {% if historia.fechaIngreso != historiaPaciente[key - 1].fechaIngreso %}
                                            {% set cambio = 1 %}
                                            <b class="text-capitalize">Fecha de Ingreso:</b>
                                            de
                                            <b class="text-capitalize">{{ historiaPaciente[key - 1].fechaIngreso | date('d/m/Y') }}</b>
                                            a
                                            <b class="text-capitalize">{{ historia.fechaIngreso | date('d/m/Y') }}</b>
                                            <br>
                                        {% endif %}
                                        {% if historia.fechaDerivacion != historiaPaciente[key - 1].fechaDerivacion %}
                                            {% set cambio = 1 %}
                                            <b class="text-capitalize">Fecha de Derivacion:</b>
                                            de
                                            <b class="text-capitalize">{{ historiaPaciente[key - 1].fechaDerivacion is not empty ? historiaPaciente[key - 1].fechaDerivacion | date('d/m/Y') : 'Vacío' }}</b>
                                            a
                                            <b class="text-capitalize">{{ historia.fechaDerivacion is not empty ? historia.fechaDerivacion | date('d/m/Y') : 'Vacio' }}</b>
                                            <br>
                                        {% endif %}
                                        {% if historia.fechaReingresoDerivacion != historiaPaciente[key - 1].fechaReingresoDerivacion %}
                                            {% set cambio = 1 %}
                                            <b class="text-capitalize">Fecha de reingreso de Derivacion:</b>
                                            de
                                            <b class="text-capitalize">{{ historiaPaciente[key - 1].fechaReingresoDerivacion is not empty ? historiaPaciente[key - 1].fechaReingresoDerivacion | date('d/m/Y') : 'Vacío' }}</b>
                                            a
                                            <b class="text-capitalize">{{ historia.fechaReingresoDerivacion is not empty ? historia.fechaReingresoDerivacion | date('d/m/Y') : 'Vacio' }}</b>
                                            <br>
                                        {% endif %}
                                        {% if historia.motivoDerivacion != historiaPaciente[key - 1].motivoDerivacion %}
                                            {% set cambio = 1 %}
                                            <b class="text-capitalize">Motivo de Derivacion:</b>
                                            de
                                            <b class="text-capitalize">{{ historiaPaciente[key - 1].motivoDerivacion }}</b>
                                            a
                                            <b class="text-capitalize">{{ historia.motivoDerivacion }}</b>
                                            <br>
                                        {% endif %}
                                        {% if historia.derivadoEn != historiaPaciente[key - 1].derivadoEn %}
                                            {% set cambio = 1 %}
                                            <b class="text-capitalize">Derivado En:</b>
                                            de
                                            <b class="text-capitalize">{{ historiaPaciente[key - 1].derivadoEn }}</b>
                                            a
                                            <b class="text-capitalize">{{ historia.derivadoEn }}</b>
                                            <br>
                                        {% endif %}
                                        {% if historia.empresaTransporteDerivacion != historiaPaciente[key - 1].empresaTransporteDerivacion %}
                                            {% set cambio = 1 %}
                                            <b class="text-capitalize">Empresa de Transporte de Derivacion:</b>
                                            de
                                            <b class="text-capitalize">{{ historiaPaciente[key - 1].empresaTransporteDerivacion }}</b>
                                            a
                                            <b class="text-capitalize">{{ historia.empresaTransporteDerivacion }}</b>
                                            <br>
                                        {% endif %}
                                        {% if historia.fechaAltaPorPermiso != historiaPaciente[key - 1].fechaAltaPorPermiso %}
                                            {% set cambio = 1 %}
                                            <b class="text-capitalize">Fecha de Alta Por Permiso:</b>
                                            de
                                            <b class="text-capitalize">{{ historiaPaciente[key - 1].fechaAltaPorPermiso is not empty ? historiaPaciente[key - 1].fechaAltaPorPermiso | date('d/m/Y') : 'vacio'}}</b>
                                            a
                                            <b class="text-capitalize">{{ historia.fechaAltaPorPermiso is not empty ? historia.fechaAltaPorPermiso | date('d/m/Y') : 'vacio'}}</b>
                                            <br>
                                        {% endif %}
                                        {% if historia.fechaBajaPorPermiso != historiaPaciente[key - 1].fechaBajaPorPermiso %}
                                            {% set cambio = 1 %}
                                            <b class="text-capitalize">Fecha de Baja Por Permiso:</b>
                                            de
                                            <b class="text-capitalize">{{ historiaPaciente[key - 1].fechaBajaPorPermiso is not empty ? historiaPaciente[key - 1].fechaBajaPorPermiso | date('d/m/Y') : 'vacio'}}</b>
                                            a
                                            <b class="text-capitalize">{{ historia.fechaBajaPorPermiso is not empty ? historia.fechaBajaPorPermiso | date('d/m/Y') : 'vacio'}}</b>
                                            <br>
                                        {% endif %}
                                        {% if historia.dePermiso != historiaPaciente[key - 1].dePermiso %}
                                            {% set cambio = 1 %}
                                            <b class="text-capitalize">De Permiso:</b>
                                            de
                                            <b class="text-capitalize">{{ historiaPaciente[key - 1].dePermiso is empty or historiaPaciente[key - 1].dePermiso == 0 ? 'no' : 'si' }}</b>
                                            a
                                            <b class="text-capitalize">{{ historia.dePermiso is empty or historia.dePermiso == 0 ? 'no' : 'si'}}</b>
                                            <br>
                                        {% endif %}
                                        {% if historia.ambulatorio != historiaPaciente[key - 1].ambulatorio %}
                                            {% set cambio = 1 %}
                                            <b class="text-capitalize">Ambulatorio:</b>
                                            de
                                            <b class="text-capitalize">{{ historiaPaciente[key - 1].ambulatorio is empty or historiaPaciente[key - 1].ambulatorio == 0 ? 'no' : 'si' }}</b>
                                            a
                                            <b class="text-capitalize">{{ historia.ambulatorio is empty or historia.ambulatorio == 0 ? 'no' : 'si'}}</b>
                                            <br>
                                        {% endif %}
                                        {% if cambio == 0 %}
                                            <b class="text-capitalize">No se registraron cambios</b>
                                        {% endif %}
                                    </td>
                                {% else %}
                                    <td class="novedades">{{ historia.fecha ? historia.fecha|date('d/m/Y') : ''}}</td>
                                    <td class="novedades">
                                        <b class="text-capitalize">
                                            Primer Registro - modalidad:
                                            {% if(historia.modalidad == 1) %}
                                                Ambulatorio
                                            {% elseif(historia.modalidad == 2) %}
                                                Internacion
                                            {% elseif(historia.modalidad == 3) %}
                                                Hospital de día
                                            {% elseif(historia.modalidad == 4) %}
                                                ART
                                            {% endif %}
                                        </b>
                                    </td>
                                {% endif %}
                                <td class="novedades" class="lowercase">{{ historia.usuario }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="15">No existen registros</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="15" class="datos">
                            Total: {{ total }}
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

{% endblock %}

{% block modalImprimir %}
    <div class="form-check">
        <input class="form-check-input check" type="checkbox" checked value="datos" id="datos">
        <label class="form-check-label" for="id">
            Datos
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input check" type="checkbox" checked value="novedades" id="novedades">
        <label class="form-check-label" for="email">
            Novedades
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" checked value="todos" id="todos">
        <label class="form-check-label" for="todos">
            Todos
        </label>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('.js-datepicker').datepicker({
            format: 'dd/mm/yyyy'
        });

    </script>
{% endblock %}