{% extends 'base.html.twig' %}

{% block title %}Historico (prueba) {% endblock %}
{% block stylesheets %}
    {{ parent() }}

{% endblock %}
{% block panelTitle %}Historico (prueba){% endblock %}
{% block body %}
    <form>
        <div class="row">
            <div class="col">
                <label for="from">Desde</label>
                <input class="form-control js-datepicker" type="text" id="from" autocomplete="off" name="from" value="{{ from }}">
            </div>
            <div class="col">
                <label for="to">Hasta</label>
                <input class="form-control js-datepicker" type="text" id="to" autocomplete="off" name="to" value="{{ to }}">
            </div>
            <div class="col">
                <label for="modalidad">Estado</label>
                <select class="form-control" name="modalidad">
                    <option value="0">Todos</option>
                    <option value="2" {{ modalidad == 2 ? 'selected' : '' }}>Internados</option>
                    <option value="1" {{ modalidad == 1 ? 'selected' : '' }}>Ambulatorios</option>
                </select>
            </div>
            <div class="col">
                <label for="nombre">Nombre / Apellido</label>
                <input class="form-control" type="text" id="nombre" name="nombre" value="{{ nombre }}">
            </div>
            <div class="col">
                <label for="obraSocial">O. Social</label>
                <select class="form-control" name="obraSocial">
                    <option value="">Seleccione una O. Social</option>
                    {% for idObra, obra in obraSociales %}
                        <option {{ obraSocial == idObra ? 'selected' : '' }} value="{{ idObra }}">{{ obra }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-5">
                <label for="prof">Profesional</label>
                <select class="form-control" name="prof">
                    <option value="">Seleccione un Profesional</option>
                    {% for profesional in profesionales %}
                        <option class="text-uppercase" {{ prof == profesional.id ? 'selected' : '' }} value="{{ profesional.id }}">{{ profesional.apellido }} {{ profesional.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
            {# <div class="col-2">
                <label for="vto">Vto. Autorizaciones</label>
                <input class="form-control js-datepicker" type="text" id="vto" autocomplete="off" name="vto" value="{{ vto }}">
            </div> #}
            
            <div class="col-2">
                <label for="vto">H. C.</label>
                <input class="form-control" type="text" id="hc" autocomplete="off" name="hc" value="{{ hc }}">
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <button type="submit" class="btn btn-primary deshabilitar">Buscar</button>
                <a id="limpiar" href="{{ path('cliente_historicos_habitaciones') }}" class="deshabilitar btn btn-action">Limpiar</a>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                {% for nombres, total in totalReferentes %}
                <b>{{ nombres }}:</b> <span class="badge badge-secondary">{{ total }}</span>
                {% endfor %}
                <b>Ambu:</b> <span class="badge badge-secondary">{{ ambulatoriosCount }}</span>
                <b>Int:</b> <span class="badge badge-secondary">{{ internadosCount }}</span>
                <b>S/M:</b> <span class="badge badge-secondary">{{ sinModalidadCount }}</span>
                <b>Egresados:</b> <span class="badge badge-secondary">{{ egresosCount }}</span>
            </div>
        </div>
        <div class="row mt-4" >
            <div class="col">
            {% for nombres, total in osTotal %}
                <b>{{ nombres }}:</b> <span class="badge badge-secondary">{{ total }}</span> -
            {% endfor %}
            </div>
        </div>
    </form>
    <div class"col-12" style="text-align:center">
        <img id="loading" src="{{ asset('assets/images/loading.gif') }}">
    </div>
    <div class="printiable">
        <div class="row mt-4">
            <table class="table">
                <th>
                    {% for fecha in range %}
                        <td>
                            <b>{{fecha | date('d/m/Y')}}</b><br>
                            <span class="small">
                                Int: {{ totales['internados'][fecha | date('d/m/Y')] is defined ? totales['internados'][fecha | date('d/m/Y')] | length  : 0 }}
                                Amb: {{ totales['ambulatorios'][fecha | date('d/m/Y')] is defined ? totales['ambulatorios'][fecha | date('d/m/Y')] | length : 0 }}
                                S/M: {{ totales['sinModalidad'][fecha | date('d/m/Y')] is defined ? totales['sinModalidad'][fecha | date('d/m/Y')] | length : 0 }}
                                Egr: {{ totales['egresos'][fecha | date('d/m/Y')] is defined ? totales['egresos'][fecha | date('d/m/Y')] | length : 0 }}
                                Total: {{ totales['totalDia'][fecha | date('d/m/Y')] is defined ? totales['totalDia'][fecha | date('d/m/Y')] | length : 0 }}<br>
                            </span><br>
                            <span class="small">
                            {% if referentes[fecha | date('d/m/Y')] is defined %}
                                {% for nombre, cantidad in referentes[fecha | date('d/m/Y')] %}
                                    {{ nombre }}: {{ cantidad | length }}<br>
                                {% endfor %}
                            {% endif %}
                            </span>
                            <span class="small">
                            {% if obrasSocialesTotales[fecha | date('d/m/Y')] is defined %}
                                {% for nombre, cantidad in obrasSocialesTotales[fecha | date('d/m/Y')] %}
                                    {{ nombre }}: {{ cantidad | length }}<br>
                                {% endfor %}
                            {% endif %}
                            </span>
                        </td>
                    {% endfor %}
                </th>
                {% for clienteId, data in pacientes %}
                <tr>
                    <td>
                        <a href={{path('cliente_show', {id: clienteId})}}>
                            {{clienteRepository.find(clienteId).nombreApellido}}
                        </a> 
                    </td>
                    {% for fecha in range %}
                        <td>
                            {% if (data[fecha | date('d/m/Y')] is defined) %}
                                {{ data[fecha | date('d/m/Y')] | raw}}
                            {% endif %}
                        </td>
                    {% endfor %}    
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}

{% block modalImprimir %}
    <div class="form-check">
        <input class="form-check-input check" type="checkbox" checked value="datos" id="datos">
        <label class="form-check-label" for="id">
            Datos
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input check" type="checkbox" checked value="novedades" id="novedades">
        <label class="form-check-label" for="email">
            Novedades
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" checked value="todos" id="todos">
        <label class="form-check-label" for="todos">
            Todos
        </label>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('.js-datepicker').datepicker({
            format: 'dd/mm/yyyy'
        });
        
        $('form').submit(function(e) {
            $(".deshabilitar").attr('disabled', true);
            $(".deshabilitar").addClass('disabled');
            $(".printiable").hide();
            $("#loading").show();
        });

        document.getElementById('limpiar').addEventListener('click', function(e) {
            $(".deshabilitar").attr('disabled', true);
            $(".deshabilitar").addClass('disabled');
            $(".printiable").hide();
            $("#loading").show();
        });

    </script>
{% endblock %}