{% extends 'base.html.twig' %}

{% block title %}Pacientes index{% endblock %}
{% block panelTitle %}Pacientes{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <div>
                    <ul class="nav nav-tabs justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link {{  pestana == 'activos' ? 'active' : ''  }}" href="{{ path('cliente_index') }}">Activos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{  pestana == 'inactivos' ? 'active' : ''  }}" href="{{ path('cliente_index') }}?pestana=inactivos">Inactivos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{  pestana == 'derivados' ? 'active' : ''  }}"  href="{{ path('cliente_index') }}?pestana=derivados">Derivados</a>
                        </li>
                    </ul>
                </div>
            </div>
            {% if (pestana == 'activos') %}
            <div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Filtrar por Habitación
                    </button>
                    <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item text-white" href="{{ path('cliente_index') }}{{  pestana != 'activos' ? '?pestana=' ~ pestana : '' }}">Todas</a>
                        {% for idHab, hab in habitacionesArray %}
                            <a class="dropdown-item text-white" href="{{ path('cliente_index') }}{{  pestana != 'activos' ? '?pestana=' ~ pestana ~ '&hab=' ~ idHab : '?hab=' ~ idHab }}">{{ hab }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="col-sm">
                <div class="input-group mb-3">
                    <input id='nombreInput' type="text" value="{{ nombreInput }}" class="form-control" placeholder="Buscar por Nombre" aria-label="Buscar por Nombre" aria-describedby="buscarPorNombre">
                    <div class="input-group-append">
                        <a class="btn btn-outline-secondary"
                           data-inactivo="{{ pestana != 'activos' }}"
                           data-url="{{ path('cliente_index') }}{{  pestana != 'activos' ? '?pestana=' ~ pestana : ''  }}"
                           type="button" id="buscarPorNombre"
                           style="padding: 10px;">
                            <i class="fas fa-search"></i>
                        </a>
                    </div>
                    <div>
                        <a href="{{ path('cliente_new') }}" class="btn-success btn" style="border-radius: 0">Nuevo Paciente</a>
                    </div>
                </div>

            </div>

        </div>
    </div>


    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <th>H. Clínica</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Dni</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Fecha Ingreso</th>
                <th>Modalidad</th>
                <th>Ingreso por</th>
                <th>Habitación</th>
                <th>Cama</th>
                <th>Doc Referente</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for cliente in clientes %}
            <tr class="editarPaciente {{ cliente.disponibleParaTerapia ? '' : 'noDisp' }}">
                <div class="editarPacienteInner">
                    <td>{{ cliente.hClinica }}</td>
                    <td>{{ cliente.nombre }}</td>
                    <td>{{ cliente.apellido }}</td>
                    <td>{{ cliente.dni }}</td>
                    <td class="lowercase">{{ cliente.email }}</td>
                    <td>{{ cliente.telefono }}</td>
                    <td>{{ cliente.fIngreso ? cliente.fIngreso|date('Y-m-d') : '' }}</td>
                    <td>
                        {% if(cliente.modalidad == 1) %}
                            Ambulatorio
                        {% elseif(cliente.modalidad == 2) %}
                            Internacion
                        {% elseif(cliente.modalidad == 3) %}
                            Hospital de día
                        {% elseif(cliente.modalidad == 4) %}
                            ART
                        {% endif %}
                    </td>
                    <td>
                        {% if(cliente.motivoIng == 1) %}
                            Neurologicas
                        {% elseif(cliente.motivoIng == 2) %}
                            Traumatológicas
                        {% elseif(cliente.motivoIng == 3) %}
                            Respiratorias
                        {% elseif(cliente.motivoIng == 4) %}
                            Paliativos
                        {% elseif(cliente.motivoIng == 5) %}
                            Patologías laborales
                        {% endif %}
                    </td>
                    <td>
                        {% if habitacionesArray[cliente.habitacion] is defined %}
                            {{ habitacionesArray[cliente.habitacion] }}
                        {% endif %}
                    </td>
                    <td>
                        {% if cliente.habPrivada %}
                            privada
                        {% else %}
                            {{ cliente.nCama }}
                        {% endif %}
                    </td>
                    <td>
                        {% for responsable in cliente.docReferente %}
                            {{ responsable.nombre | lower | capitalize }} {{ responsable.apellido | lower | capitalize }} <br>
                        {% endfor %}
                    </td>
                    <td>
                        <div class="dropdown show dropleft">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Acciones
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="{{ path('cliente_show', {'id': cliente.id}) }}">
                                    <i class="fas fa-eye" data-toggle="tooltip" data-placement="top" title="Ver"></i> Ver
                                </a>
                                <a class="dropdown-item" href="{{ path('cliente_edit', {'id': cliente.id}) }}">
                                    <i class="fas fa-pencil-alt" data-toggle="tooltip" data-placement="top" title="editar"></i> Editar
                                </a>
                                <a class="dropdown-item" href="{{ path('adjuntos_pacientes_new', {'id': cliente.id}) }}">
                                    <i class="fas fa-paperclip" data-toggle="tooltip" data-placement="top" title="adjuntar"></i> Adjuntar
                                </a>
                                <a class="dropdown-item" href="{{ path('cliente_egreso', {'id': cliente.id}) }}">
                                    <i class="far fa-calendar-times" data-toggle="tooltip" data-placement="top" title="egreso"></i> Egresar
                                </a>
                                <a class="dropdown-item" href="{{ path('cliente_historial', {'id': cliente.id}) }}">
                                    <i class="far fa-calendar-alt" data-toggle="tooltip" data-placement="top" title="historia"></i> Ver Historia
                                </a>
                                {% if cliente.derivado %}
                                    <a class="dropdown-item" href="{{ path('cliente_reingresar', {'id': cliente.id}) }}">
                                        <i class="fas fa-arrow-left" data-toggle="tooltip" data-placement="top" title="reingresar derivado"></i> Reingresar
                                    </a>
                                {% else %}
                                    <a class="dropdown-item" href="{{ path('cliente_derivar', {'id': cliente.id}) }}">
                                        <i class="fas fa-arrow-right" data-toggle="tooltip" data-placement="top" title="derivar"></i> Derivar
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </td>
                </div>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">No existen registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/cliente.js') }}"></script>
{% endblock %}
