{% extends 'base.html.twig' %}

{% block title %}Pacientes index{% endblock %}
{% block panelTitle %}Pacientes{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <div>
                    <ul class="nav nav-tabs justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link {{  inactivos ? '' : 'active'  }}" href="{{ path('cliente_index') }}">Activos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{  inactivos ? 'active' : ''  }}" href="{{ path('cliente_index') }}?inactivos=true">Inactivos</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm">
                <div class="input-group mb-3">
                    <input id='nombreInput' type="text" value="{{ nombreInput }}" class="form-control" placeholder="Buscar por Nombre" aria-label="Buscar por Nombre" aria-describedby="buscarPorNombre">
                    <div class="input-group-append">
                        <a class="btn btn-outline-secondary" data-inactivo="{{  inactivos ? 'true' : 'false'  }}" data-url="{{ path('cliente_index') }}{{  inactivos ? '?inactivos=true' : ''  }}" type="button" id="buscarPorNombre" style="padding: 10px;">
                            <i class="fas fa-search"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <th>H. Clínica</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Dni</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Fecha Ingreso</th>
                <th>Modalidad</th>
                <th>Ingreso por</th>
                <th>Habitación</th>
                <th>Cama</th>
                <th>Doc Referente</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for cliente in clientes %}
            <tr class="editarPaciente" data-url="{{ path('cliente_show', {'id': cliente.id}) }}">
                <td>{{ cliente.hClinica }}</td>
                <td>{{ cliente.nombre }}</td>
                <td>{{ cliente.apellido }}</td>
                <td>{{ cliente.dni }}</td>
                <td class="lowercase">{{ cliente.email }}</td>
                <td>{{ cliente.telefono }}</td>
                <td>{{ cliente.fIngreso ? cliente.fIngreso|date('Y-m-d') : '' }}</td>
                <td>
                    {% if(cliente.modalidad == 1) %}
                        Ambulatorio
                    {% elseif(cliente.modalidad == 2) %}
                        Internacion
                    {% elseif(cliente.modalidad == 3) %}
                        Hospital de día
                    {% elseif(cliente.modalidad == 4) %}
                        ART
                    {% endif %}
                </td>
                <td>
                    {% if(cliente.motivoIng == 1) %}
                        Neurologicas
                    {% elseif(cliente.motivoIng == 2) %}
                        Traumatológicas
                    {% elseif(cliente.motivoIng == 3) %}
                        Respiratorias
                    {% elseif(cliente.motivoIng == 4) %}
                        Paliativos
                    {% elseif(cliente.motivoIng == 5) %}
                        Patologías laborales
                    {% endif %}
                </td>
                <td>
                    {% if habitacionesArray[cliente.habitacion] is defined %}
                        {{ habitacionesArray[cliente.habitacion] }}
                    {% endif %}
                </td>
                <td>
                    {% if cliente.habPrivada %}
                        privada
                    {% else %}
                        {{ cliente.nCama }}
                    {% endif %}
                </td>
                <td>
                    {% set i = 1 %}

                    {% for doc in cliente.docReferente|slice(0,1) %}
                        {{ doc.nombre }} {{ doc.apellido }}{% if cliente.docReferente|length > 0 and i < cliente.docReferente|length %},{% endif %}

                        {#{% set i = i+1 %}#}
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('cliente_edit', {'id': cliente.id}) }}">
                        <i class="fas fa-pencil-alt" data-toggle="tooltip" data-placement="top" title="editar"></i>
                    </a>&nbsp;
                    <a href="{{ path('adjuntos_pacientes_new', {'id': cliente.id}) }}">
                        <i class="fas fa-paperclip" data-toggle="tooltip" data-placement="top" title="adjuntar"></i>
                    </a>&nbsp;
                    <a href="{{ path('cliente_egreso', {'id': cliente.id}) }}">
                        <i class="far fa-calendar-times" data-toggle="tooltip" data-placement="top" title="egreso"></i>
                    </a>&nbsp;
                    <a href="{{ path('cliente_historial', {'id': cliente.id}) }}">
                        <i class="far fa-calendar-alt" data-toggle="tooltip" data-placement="top" title="historia"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">No existen registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('cliente_new') }}">Ingresar nuevo Paciente</a>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/cliente.js') }}"></script>
{% endblock %}
