{% extends 'base.html.twig' %}

{% block title %}Liquidaciones Profesionales{% endblock %}
{% block panelTitle %}
    Liquidación de: <span style="text-transform: capitalize">{{ doctor.nombre }} {{ doctor.apellido }}</span>
    <a class="btn btn-success" style="padding: 2px 16px;float: right;" href="{{ path('profesionales_index') }}">Volver</a>
{% endblock %}
{% block body %}
    <div class="container-fluid printiable">
                <div class="row remover">
                    <div class="col-md-3" style="float: left;">
                        <div class="col-md-2" style="float: left;line-height: 35px;">
                            Desde:
                        </div>
                        <div class="col-md-10" style="float: left;">
                            <input id='from' type="date" class="js-datepicker form-control" value="{{ desde }}">
                        </div>
                    </div>
                    <div class="col-md-3" style="float: left;">
                        <div class="col-md-2" style="float: left;line-height: 35px;">
                            Hasta:
                        </div>
                        <div class="col-md-10" style="float: left;">
                            <input id='to' type="date" class="js-datepicker form-control" value="{{ hasta }}">
                        </div>
                    </div>
                    {# <div class="col-md-2" style="float: left;">
                        <select class="form-control" id="obraSocial">
                            <option value="0">Obra Social</option>
                            {% for obrasSocial in obrasSociales %}
                                <option value="{{ obrasSocial.id }}" {% if obrasSocial.id == obraSocialSelected %} selected="selected" {% endif %}>{{ obrasSocial.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div> #}
                    <div class="col-md-2" style="float: left;">
                        <select class="form-control" id="estado">
                            <option value="todos" {% if 'todos' == estado %} selected="selected" {% endif %}>Todos</option>
                            <option value="activos" {% if 'activos' == estado %} selected="selected" {% endif %}>Internados</option>
                            <option value="ambulatorios" {% if 'ambulatorios' == estado %} selected="selected" {% endif %}>Ambulatorios</option>
                        </select>
                    </div>
                
                    <div class="col-md-2 font-weight-bold" style="padding: 7px;">
                        total: {{evolucionesCount}} evoluciones
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-success btn-sm" data-inactivo="false" data-url="{{ path('liquidar', {'periodo': 'mes', 'id': doctor.id}) }}" type="button" id="buscarPorFechas" style="color:white; padding: 10px;">
                            <i class="fas fa-search"></i> Buscar
                        </a>
                        <a class="btn btn-outline-secondary btn-sm" data-inactivo="false" type="button" href="{{ path('liquidar', {'periodo': 'mes', 'id': doctor.id}) }}" style="padding: 10px;">
                            Limpiar
                        </a>
                    </div>
                </div>
            
        <table class="table table-responsive" style="display:inline-table">            
            <tbody>
            {% for nombre, evoluciones in evolucionesPivotOs %}
                <tr class="font-weight-bold" >
                    <td class="text-uppercase" colspan="4" style="width: 100%;">{{nombre}}</td> 
                    <td class="text-center">{{evoluciones | length }}</td> 
                    <td><button data-toggle="collapse" data-target=".multi-collapse-{{nombre | slug}}" aria-expanded="true" aria-controls="multi-collapse-{{nombre | slug}}" class="btn btn-primary btn-sm"><i class="fas fa-chevron-down"></i></button></td>
                </tr>
                <tr class="collapse multi-collapse-{{nombre | slug }}">
                    <th scope="col" class="paciente">Paciente</th>
                    <th scope="col" class="obraSocial">O. Social</th>
                    <th scope="col" class="fecha">Fecha</th>
                    <th scope="col" class="desc">Desc</th>
                    <th scope="col" class="total"></th>
                    <th scope="col" class="accion"></th>
                    {#<th scope="col" class="comenzo">Comenzó</th>
                    <th scope="col" class="finalizo">Finalizó</th>
                    <th scope="col" class="completado">Completado</th>
                    <th scope="col">Notas</th>#}
                </tr>
                {% for evolucion in evoluciones %}
                    <tr class="collapse multi-collapse-{{nombre | slug}}">
                        <td class="paciente">{{ evolucion.paciente.nombre }} {{ evolucion.paciente.apellido }}</td>
                        <td class="fecha">
                            <div>{{ evolucion.paciente.obraSocial.nombre }}</div>
                        </td>
                        <td class="fecha">{{ evolucion.fecha | date('m/d/Y') }}</td>
                        <td class="desc">{{ (evolucion.description|length > 50 ? evolucion.description | striptags |slice(0, 50) ~ '…'   : evolucion.description | striptags )  }}</td>
                        <td><a href="{{ path('evolucion_show', {'id': evolucion.id}) }}">ver</a> </td>
                        <td></td>
                    </tr>
                {% endfor %}        
            {% endfor %}
            {# {% for evolucion in evoluciones %}
                <tr>
                    <td class="paciente">{{ evolucion.paciente.nombre }} {{ evolucion.paciente.apellido }}</td>
                    <td class="fecha">
                        <div>{{ evolucion.paciente.obraSocial.nombre }}</div>
                    </td>
                    <td class="fecha">{{ evolucion.fecha | date('m/d/Y') }}</td>
                    <td class="desc">{{ (evolucion.description|length > 50 ? evolucion.description | striptags |slice(0, 50) ~ '…'   : evolucion.description | striptags )  }}</td>
                    <td><a href="{{ path('evolucion_show', {'id': evolucion.id}) }}">ver</a> </td>
                </tr>
            {% endfor %} #}
            {#{% set cantMediaSesiones = 0 %}
            {% for booking in bookings %}
                {% if booking.cliente.MediaSesion %}
                    {% set cantMediaSesiones = cantMediaSesiones + 1 %}
                {% endif %}
                <tr class="{% if booking.cliente.MediaSesion %} mediaSesion {% endif %}">
                    <td class="titulo">{{ booking.title }}</td>
                    <td class="paciente" style="text-transform: capitalize">{{ booking.cliente.nombre }} {{ booking.cliente.apellido }}</td>
                    <td class="obraSocial">{{ obrasSociales[booking.cliente.obraSocial] }}{% if booking.cliente.MediaSesion %} (Media Sesion) {% endif %}</td>
                    <td class="comenzo">{{ booking.beginAt | date('Y-m-d H:i:s') }}</td>
                    <td class="finalizo">{{ booking.endAt | date('Y-m-d H:i:s') }}</td>
                    <td class="titulo">{{ booking.completado ? 'si' : 'no' }}</td>
                    <td>
                        {% if booking.notas | length > 0 %}
                            <a href="{{ path('notas_turno_list', {'id': booking.id}) }}">ver notas</a>
                        {% else %}
                            No tiene
                        {% endif %}
                    </td>
                </tr>
                <tr id="notas-{{ booking.id }}" class="notas">
                </tr>
            {% endfor %}
            <tr >
                <td class="totales" colspan="4" style="text-align: right">Medias Sesiones:</td>
                <td class="totales" >{{ cantMediaSesiones }}</td>
                <td class="totales" style="text-align: right">Total:</td>
                <td class="totales" >{{ bookings|length }}</td>
            </tr>#}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block modalImprimir %}
    {% for fiel in [
        'paciente', 'fecha', 'desc',
    ] %}
        <div class="form-check">
            <input class="form-check-input check" type="checkbox" value="{{ fiel }}" id="{{ fiel }}"
                    {% if fiel == 'paciente' %} checked {% endif %}
                    {% if fiel == 'fecha' %} checked {% endif %}
                    {% if fiel == 'desc' %} checked {% endif %}
            >
            <label class="form-check-label" for="{{ fiel }}" style="text-transform: capitalize">
                {{ fiel }}
            </label>
        </div>
    {% endfor %}
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="todos" id="todos">
        <label class="form-check-label" for="todos">
            Todos
        </label>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        var tituloExcel = 'liquidaciones.xlsx';
        $('#from').on('change', function () {
            $('#to').attr("min", $('#from').val());
            $('#to').val($('#from').val());
        })
        $('#buscarPorFechas').on('click', function () {
            let url = $(this).data('url');
            let from = $('#from').val();
            let to = $('#to').val();
            let obraSocial = $('#obraSocial').val();
            let estado = $('#estado').val();

            url = url + '&desde=' + from + '&hasta=' + to + '&obraSocial=' + obraSocial + '&estado=' + estado;

            window.location.href = url;
        })
    </script>

{% endblock %}