{% extends 'base.html.twig' %}

{% block title %}Habitaciones{% endblock %}
{% block panelTitle %}Habitaciones{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <div>
                    <ul class="nav nav-tabs justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link {{  pestana == 'todas' ? 'active' : ''  }}" href="{{ path('habitacion_index') }}">Todas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{  pestana == 'camas-vacias' ? 'active' : ''  }}" href="{{ path('habitacion_index') }}?pestana=camas-vacias">Camas Disponibles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{  pestana == 'completas' ? 'active' : ''  }}"  href="{{ path('habitacion_index') }}?pestana=completas">Completas</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm">
                <div class="input-group mb-3">
                    <div>
                        <a href="{{ path('habitacion_new') }}" class="btn-success btn" style="border-radius: 0">Nueva Habitación</a>
                    </div>
                </div>

            </div>

        </div>
    </div>


    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Camas Totales</th>
                <th>Camas Ocupadas</th>
                <th>Camas Disponibles</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for habitacion in habitacions %}
            <tr>
                <td>{{ habitacion.nombre }}</td>
                <td>{{ habitacion.camasDisponibles }}</td>
                {% set camasOcupadas = habitacion.camasOcupadas|length%}
                <td>{{ camasOcupadas ? camasOcupadas : 0 }}</td>
                {% set camasDisp = habitacion.camasDisponibles - camasOcupadas%}
                <td>{{ camasDisp }}</td>
                <td>
                    <a href="{{ path('habitacion_edit', {'id': habitacion.id}) }}"><i class="fas fa-pencil-alt"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No existen registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
