{{ form_start(form) }}
<br>
<div class="form-row mb-4">
    <div class="col-sm">
        {{ form_label(form.tipo, 'Tipo') }}
        {{ form_widget(form.tipo) }}
    </div>
    <div class="col-sm">
        {{ form_label(form.fecha, 'Fecha') }}
        {{ form_widget(form.fecha) }}
    </div>
    <div class="col-sm">
        {{ form_label(form.doctor, 'Doctor') }}
        {{ form_widget(form.doctor) }}
    </div>
</div>
<div class="form-row mb-4">
    <div class="col-sm">
        {{ form_label(form.description, 'Descripcion') }}
        {{ form_widget(form.description) }}
    </div>
</div>
<div class="form-row mb-4">
    <div class="col-sm">
        <button type="button" class="btn btn-action predeterminada">Se Realiza KTR.</button>
        <button type="button" class="btn btn-action predeterminada">Movilizacion. Elongacion. Motomed.</button>
        <button type="button" class="btn btn-action predeterminada">Estimulación Del Lenguaje Expresivo.</button>
        <button type="button" class="btn btn-action predeterminada">Se Aborda En T.O.</button>
    </div>
</div>
<div class="form-row">
    <div class="col-sm">
        {{ form_label(form.adjunto, 'Adjuntos') }}
        {{ form_widget(form.adjunto) }}
    </div>
</div>
<br>
<br>
<div class="form-group">
    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
    <a class="btn btn-default" href="{{ app.request.headers.get('referer') }}">volver</a>
</div>
<br>

{{ form_end(form) }}
