{% extends 'base.html.twig' %}

{% block title %}Evolucion{% endblock %}

{% block body %}
    <h1>Evolucion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Usuario</th>
                <td>{{ evolucion.user }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ evolucion.tipo }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ evolucion.fecha ? evolucion.fecha|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Descripción</th>
                <td>{{ evolucion.description | raw }}</td>
            </tr>
            <tr>
                <th>Adjuntos</th>
                <td>
                    {% for url in evolucion.adjuntoUrl %}
                        <a href="{{ path('evolucion_get_adjunto',{'clienteId': evolucion.paciente.id, 'pdf': url}) }}" target="_blank">
                            {{ url|split('/')[0] }}
                        </a>
                        <br>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2"><a href="javascript:history.back();" class="btn btn-danger">Volver</a></td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
