{% extends 'base.html.twig' %}

{% block title %}Evolucion{% endblock %}

{% block body %}
    <h1>Evolucion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ evolucion.id }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ evolucion.tipo }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ evolucion.fecha ? evolucion.fecha|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Descripción</th>
                <td>{{ evolucion.description }}</td>
            </tr>
            <tr>
                <th>Adjunto</th>
                <td>{{ evolucion.adjuntoUrl }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
