{{ form_start(form) }}
<br>
<div class="form-row">
    <div class="col">
        <b>{{ form_label(form.nombre, 'Nombre') }}</b>
        {{ form_widget(form.nombre) }}
    </div>
    <div class="col">
        <b>{{ form_label(form.apellido, 'Apellido') }}</b>
        {{ form_widget(form.apellido) }}
    </div>
</div>
<br>
<div class="form-row">
    <div class="col">
        <b>{{ form_label(form.firmaPdf, 'Firma en Pdf') }}</b><br>
        {{ form_widget(form.firmaPdf) }}
    </div>
    <div class="col">
        <b>{{ form_label(form.matricula, 'Matricula') }}</b>
        {{ form_widget(form.matricula) }}
    </div>
</div>
<br>
<div class="form-row">
    <div class="col">
        <b>{{ form_label(form.clientes, 'Clientes') }}</b>
        {{ form_widget(form.clientes) }}
    </div>
</div>
<br>
<div class="form-row">
    <div class="col">
        <b>{{ form_label(form.especialidad, 'Especialidad') }}</b>
        {{ form_widget(form.especialidad) }}
    </div>
</div>
<br>

<div class="form-group">
    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
    <a class="btn btn-default" href="{{ path('doctor_index') }}">volver</a>
</div>
{{ form_end(form) }}
