{{ form_start(form) }}
{%  if form.nombre is defined %}
    <br>
    <div class="form-row">
        <div class="col-sm">
                {{ form_label(form.nombre, 'Nombre') }}
                {{ form_widget(form.nombre) }}
        </div>
        <div class="col-sm">
                {{ form_label(form.apellido, 'Apellido') }}
                {{ form_widget(form.apellido) }}
        </div>
        <div class="col-sm">
            {{ form_label(form.dni, 'DNI') }}
            {{ form_widget(form.dni) }}
        </div>
    </div>
    <br>
    <div class="form-row">
        <div class="col-sm">
            {{ form_label(form.telefono, 'Teléfono') }}
            {{ form_widget(form.telefono) }}
        </div>
        <div class="col-sm">
            {{ form_label(form.email, 'Email') }}
            {{ form_widget(form.email) }}
        </div>
        <div class="col-sm">
            {{ form_label(form.legajo, 'Nro de Legajo') }}
            {{ form_widget(form.legajo) }}
        </div>
    </div>
    <br>
<hr>
    <div class="form-row">
        <div class="col-sm">
            {{ form_label(form.tipo, 'Tipo de contrato') }}
            {{ form_widget(form.tipo, {'attr': {'data-staff_tipo_select-url': path('staff_tipo_select'), 'class': 'js-staff-tipo'}}) }}
        </div>
    </div>
    <br>
    <div class="js-staff-modalidad-target">
        {%  if form.modalidad is defined %}
            <div class="form-row">
                <div class="col-sm">
                    {{ form_label(form.modalidad, 'Categoria') }}
                    {{ form_widget(form.modalidad) }}
                </div>
            </div>
        {% endif %}
    </div>
    <br>
    <div class="form-row">
        <div class="col-sm">
            {{ form_label(form.inicioContrato, 'Inicio del Contrato') }}
            {{ form_widget(form.inicioContrato) }}
        </div>
        <div class="col-sm">
            {{ form_label(form.vtoContrato, 'Vencimiento del Contrato') }}
            {{ form_widget(form.vtoContrato) }}
        </div>
    </div>
    <br>
    <hr>
    <h5>Horarios disponibles</h5>
    <br>
    <div class="form-row">
        <div class="col-sm">
            <span>Día de la semana</span>
        </div>
        <div class="col-sm">
            <span>Desde</span>
        </div>
        <div class="col-sm">
            <span>Hasta</span>
        </div>
        <div class="col-sm" style="text-align: center;">
            <span>y</span>
        </div>
        <div class="col-sm">
            <span>Desde</span>
        </div>
        <div class="col-sm">
            <span>Hasta</span>
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm">
            <span>Lunes</span>
        </div>
        <div class="col-sm">
            {{ form_widget(form.lunesdesde) }}
        </div>
        <div class="col-sm">
            {{ form_widget(form.luneshasta) }}
        </div>
        <div class="col-sm" style="text-align: center;">
        </div>
        <div class="col-sm">
            {{ form_widget(form.ylunesdesde) }}
        </div>
        <div class="col-sm">
            {{ form_widget(form.yluneshasta) }}
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm">
            <span>Martes</span>
        </div>
        <div class="col-sm">
            {{ form_widget(form.martesdesde) }}
        </div>
        <div class="col-sm">
            {{ form_widget(form.marteshasta) }}
        </div>
        <div class="col-sm" style="text-align: center;">
        </div>
        <div class="col-sm">
            {{ form_widget(form.ymartesdesde) }}
        </div>
        <div class="col-sm">
            {{ form_widget(form.ymarteshasta) }}
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm">
            <span>Miercoles</span>
        </div>
        <div class="col-sm">
            {{ form_widget(form.miercolesdesde) }}
        </div>
        <div class="col-sm">
            {{ form_widget(form.miercoleshasta) }}
        </div>
        <div class="col-sm" style="text-align: center;">
        </div>
        <div class="col-sm">
            {{ form_widget(form.ymiercolesdesde) }}
        </div>
        <div class="col-sm">
            {{ form_widget(form.ymiercoleshasta) }}
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm">
            <span>Jueves</span>
        </div>
        <div class="col-sm">
            {{ form_widget(form.juevesdesde) }}
        </div>
        <div class="col-sm">
            {{ form_widget(form.jueveshasta) }}
        </div>
        <div class="col-sm" style="text-align: center;">
        </div>
        <div class="col-sm">
            {{ form_widget(form.yjuevesdesde) }}
        </div>
        <div class="col-sm">
            {{ form_widget(form.yjueveshasta) }}
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm">
            <span>Viernes</span>
        </div>
        <div class="col-sm">
            {{ form_widget(form.viernesdesde) }}
        </div>
        <div class="col-sm">
            {{ form_widget(form.vierneshasta) }}
        </div>
        <div class="col-sm" style="text-align: center;">
        </div>
        <div class="col-sm">
            {{ form_widget(form.yviernesdesde) }}
        </div>
        <div class="col-sm">
            {{ form_widget(form.yvierneshasta) }}
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm">
            <span>Sábado</span>
        </div>
        <div class="col-sm">
            {{ form_widget(form.sabadodesde) }}
        </div>
        <div class="col-sm">
            {{ form_widget(form.sabadohasta) }}
        </div>
        <div class="col-sm" style="text-align: center;">
        </div>
        <div class="col-sm">
            {{ form_widget(form.ysabadodesde) }}
        </div>
        <div class="col-sm">
            {{ form_widget(form.ysabadohasta) }}
        </div>
    </div>

    {#<div class="form-row ">
        <div class="col-sm">
        {{ form_label(form.especialidad, 'Especialidad') }}
        {{ form_widget(form.especialidad) }}
        </div>
    </div>
    <br>#}
    <br>
    <hr>
    <br>
    <div class="form-row">
        <div class="col-sm">
        {{ form_label(form.firmaPdf, 'Firma en Pdf') }}<br>
        {{ form_widget(form.firmaPdf) }}
            <a target="_blank" href="{{ asset('uploads/firmas/') }}{{ doctor.firma }}" >ver firma</a>
        </div>

        <div class="col-sm d-none vtoMatricula">
        {{ form_label(form.matricula, 'Matricula') }}
        {{ form_widget(form.matricula) }}
        </div>
        <div class="col-sm d-none vtoMatricula">
            {{ form_label(form.vtoMatricula, 'Vencimiento Matricula') }}
            {{ form_widget(form.vtoMatricula) }}
        </div>
    </div>
    <br>
    <div class="form-row d-none libretaSanitaria">
        <div class="col-sm">
            {{ form_label(form.libretaSanitaria, 'N de libreta Sanitaria') }}<br>
            {{ form_widget(form.libretaSanitaria) }}
        </div>
        <div class="col-sm">
            {{ form_label(form.emisionLibretaSanitaria, 'Emision Libreta Sanitaria') }}
            {{ form_widget(form.emisionLibretaSanitaria) }}
        </div>
        <div class="col-sm">
            {{ form_label(form.vtoLibretaSanitaria, 'Vto libreta Sanitaria') }}
            {{ form_widget(form.vtoLibretaSanitaria) }}
        </div>
    </div>
    <br>
{%  endif %}
{%  if form.fechaBaja is defined %}
    <hr>
    <h4>Información para la baja</h4>
<div class="form-row">
    <div class="col-sm">
        {{ form_label(form.fechaBaja, 'Fecha de Baja') }}
        {{ form_widget(form.fechaBaja) }}
    </div>
    <div class="col-sm">
        {{ form_label(form.motivoBaja, 'Motivo de la Baja') }}
        {{ form_widget(form.motivoBaja) }}
    </div>
    <div class="col-sm">
        {{ form_label(form.concepto, 'Concepto') }}
        {{ form_widget(form.concepto) }}
    </div>
    {%  if form.posicionEnArchivo is defined %}
        <div class="col-sm">
            {{ form_label(form.posicionEnArchivo, 'N de Posicion en Archivo') }}
            {{ form_widget(form.posicionEnArchivo) }}
        </div>
    {% endif %}
</div>
{% endif %}
{%  if form.password is defined %}
<div class="form-row">
    <div class="col-sm">
        {{ form_label(form.password, 'Password') }}
        {{ form_widget(form.password) }}
    </div>
    <div class="col-sm"></div>
    <div class="col-sm"></div>
</div>
{% endif %}
<br>
<div class="form-group">
    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
    <a class="btn btn-default" href="{{ path('doctor_index') }}">volver</a>
</div>
{{ form_end(form) }}
