{% extends 'base.html.twig' %}

{% block title %}Staff index{% endblock %}
{% block panelTitle %}Staff{% endblock %}
{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Tipo</th>
                <th scope="col">Legajo</th>
                <th scope="col">Inicio Contrato</th>
                <th scope="col">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for doctor in doctors %}
            <tr>
                <td>{{ doctor.nombre }}</td>
                <td>{{ doctor.apellido }}</td>
                <td>
                    {{ doctor.modalidad | json_encode(constant('JSON_PRETTY_PRINT')) | replace({'[': '', ']': '', '\\': ''})}}
                </td>
                <td>
                    {{ doctor.legajo }}
                    {#<a href="{{ asset('uploads/firmas/' ~ doctor.firma) }}" target="_blank">Ver firma digital</a>#}
                </td>
                <td>
                    {{ doctor.inicioContrato | date('Y-m-d') }}
                </td>
                <td>
                    <a href="{{ path('doctor_edit', {'id': doctor.id}) }}">Editar/Ver</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">No existen registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('doctor_new') }}">Ingresar nuevo Miembro del Staff</a>
{% endblock %}
