{% extends 'base.html.twig' %}

{% block title %}Staff index{% endblock %}
{% block panelTitle %}Staff{% endblock %}
{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Especialidad</th>
                <th scope="col">Firma Digital</th>
                <th scope="col">Matricula</th>
                <th scope="col">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for doctor in doctors %}
            <tr>
                <td>{{ doctor.nombre }}</td>
                <td>{{ doctor.apellido }}</td>
                <td>
                    {% for value in doctor.especialidad %}
                            {% if value == '0' %}
                                Clínico
                            {% endif %}
                            {% if value ==  '1' %}
                                Fonoaudiología
                            {% endif %}
                            {% if value ==  '2' %}
                                Kinesiología Motora
                            {% endif %}
                            {% if value ==  '3' %}
                                Kinesiología Respiratoria
                            {% endif %}
                            {% if value ==  '4' %}
                                Psicología
                            {% endif %}
                            {% if value ==  '5' %}
                                Psicopedagogía
                            {% endif %}
                            {% if value ==  '6' %}
                                Terapia Ocupacional
                            {% endif %}
                            {% if value ==  '7' %}
                                Hidroterapia
                            {% endif %}
                            {% if value ==  '8' %}
                                Nutrición
                            {% endif %}
                            {% if value ==  '9' %}
                                Terapia Intensiva
                            {% endif %}
                            {% if value ==  '10' %}
                                Dirección
                            {% endif %}
                            {% if value ==  '11' %}
                                Sub Dirección
                            {% endif %}
                            {% if value ==  '12' %}
                                Clínica Médica
                            {% endif %}
                            {% if value ==  '13' %}
                                Psicriatía
                            {% endif %}
                            {% if value ==  '14' %}
                                Neurología
                            {% endif %}
                            {% if value ==  '15' %}
                                Fisiatría
                            {% endif %}
                            {% if value ==  '16' %}
                                Cardiología
                            {% endif %}
                            {% if value ==  '17' %}
                                Hematología
                            {% endif %}
                            {% if value ==  '18' %}
                                Cirugía
                            {% endif %}
                            {% if value ==  '19' %}
                                Urología
                            {% endif %}
                            {% if value ==  '20' %}
                                Infectología
                            {% endif %}
                            {% if value ==  '21' %}
                                Traumatología
                            {% endif %}
                            {% if value ==  '22' %}
                                Trabajo Social
                            {% endif %}
                            {% if value ==  '23' %}
                                Guardia Médica
                            {% endif %}
                    {% endfor %}
                </td>
                <td><a href="{{ asset('uploads/firmas/' ~ doctor.firma) }}" target="_blank">Ver firma digital</a></td>
                <td>{{ doctor.matricula }}</td>
                <td>
                    <a href="{{ path('doctor_edit', {'id': doctor.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">No existen registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('doctor_new') }}">Ingresar nuevo Miembro del Staff</a>
{% endblock %}
