{{ form_start(form) }}
<br>
<div class="form-row">
    <div class="col-sm">
        {{ form_label(form.cliente, 'Paciente') }}
        {{ form_widget(form.cliente) }}
    </div>
    <div class="col-sm"></div>
    <div class="col-sm"></div>
</div>
<br>
<div class="form-row">
    <div class="col-sm">
        {{ form_label(form.title, 'Titulo') }}
        {{ form_widget(form.title) }}
    </div>
    <div class="col-sm">
        {{ form_label(form.doctor, 'Profesional') }}
        {{ form_widget(form.doctor) }}
    </div>
    <div class="col-sm"></div>
</div>
<br>
<div class="form-row">
    <div class="col-sm">
        {{ form_label(form.beginAt, 'Comienza') }}
        {{ form_widget(form.beginAt) }}
    </div>
    <div class="col-sm">
        {{ form_label(form.endAt, 'Finaliza') }}
        {{ form_widget(form.endAt) }}
    </div>
    <div class="col-sm"></div>
</div>
<br>
<hr>
<div class="form-row">
    <div class="col-sm">
        {{ form_label(form.dias, 'Se repite') }}
        <div class="columnas-de-dos">
            {{ form_widget(form.dias) }}
        </div>
    </div>
    <div class="col-sm">
        {{ form_label(form.desde) }}
        {{ form_widget(form.desde) }}
<br>
        {{ form_label(form.hasta) }}
        {{ form_widget(form.hasta) }}
    </div>
</div>
<br>
<div class="form-group">
    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
    <a class="btn btn-default" href="javascript:history.back();">volver</a>
</div>
<br>
{{ form_end(form) }}
