{% extends 'base.html.twig' %}

{% block title %}Turnos{% endblock %}
{% block panelTitle %}Turnos{% endblock %}
{% block body %}
    <div id="calendar-holder"></div>


    <!-- Large modal -->
    <div class="modal fade bd-example-modal-lg filtros" tabindex="-1" role="dialog" aria-labelledby="filtros" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Filtrar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                    <div class="modal-body">
                        <form class="filtrosModal">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Doctores</label><br>
                                {% for doctor in doctores %}
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input doctores" type="checkbox" id="doctor-{{ doctor.id }}" name="doctores" value="{{ doctor.id }}">
                                    <label class="form-check-label" for="doctores">{{ doctor.nombre }} {{ doctor.apellido }}</label>
                                </div>
                                {% endfor %}
                            </div>
                            <hr>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Pacientes</label><br>
                                {% for cliente in clientes %}
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="cliente-{{ cliente.id }}" name="clientes" value="{{ cliente.id }}">
                                        <label class="form-check-label" for="clientes">{{ cliente.nombre }} {{ cliente.apellido }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </form>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="limpiar">Limpiar</button>
                        <button type="button" class="btn btn-primary" id="filtrar">Filtrar</button>
                    </div>

            </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.js"></script>
    <script src="{{ asset('assets/js/booking.js') }}"></script>


    <script type="text/javascript">
        var url = "{{ path('booking_new', {'date': 'info.dateStr'}) }}";
        var eventSourceUrl = "{{ path('fc_load_events') }}";
    </script>
{% endblock %}