{% extends 'base.html.twig' %}

{% block title %}Turnos{% endblock %}
{% block panelTitle %}Turnos{% endblock %}
{% block body %}
    <div id="calendar-holder"></div>


    <!-- Large modal -->
    <div class="modal fade bd-example-modal-lg filtros" tabindex="-1" role="dialog" aria-labelledby="filtros" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Filtrar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                    <div class="modal-body">
                        <div class="loading" style=" text-align: center;">
                            <img src="{{ asset('assets/images/loading.gif') }}">
                        </div>
                        <form class="filtrosModal" style="display: none">
                            <div class="form-group">
                                <label for="contrato">Tipo De Contrato</label>
                                <select class="form-control" id="contrato">
                                    <option value="0">Todos</option>
                                    <optgroup label="Directo">
                                    {% for contratoDirecto in contratos['directo'] %}
                                        <option id='{{ contratoDirecto|replace({' ': ''}) }}' value="{{ contratoDirecto }}">{{ contratoDirecto }}</option>
                                    {% endfor %}
                                    </optgroup>
                                    <optgroup label="Prestacion">
                                        {% for contratoPrestacion in contratos['prestacion'] %}
                                            <option id='{{ contratoPrestacion|replace({' ': ''}) }}' value="{{ contratoPrestacion }}">{{ contratoPrestacion }}</option>
                                        {% endfor %}
                                    </optgroup>
                                    <optgroup label="Sin Contrato">
                                        {% for contratoSinContrato in contratos['directo'] %}
                                            <option id='{{ contratoSinContrato|replace({' ': ''}) }}' value="{{ contratoSinContrato }}">{{ contratoSinContrato }}</option>
                                        {% endfor %}
                                    </optgroup>
                                </select>
                            </div>
                            <hr>
                            <div class="form-group">
                                <label for="doctores">Profesionales</label>
                                <select class="form-control" multiple=true id="doctores">
                                    {% for doctor in doctores %}
                                        <option value="{{ doctor.id }}">{{ doctor.nombre }} {{ doctor.apellido }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <hr>
                            <div class="form-group">
                                <label for="cliente">Pacientes</label>
                                <select class="form-control" multiple=true id="cliente">
                                    {% for cliente in clientes %}
                                        <option value="{{ cliente.id }}">{{ cliente.nombre }} {{ cliente.apellido }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </form>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="limpiar">Limpiar</button>
                        <button type="button" class="btn btn-primary" id="filtrar">Filtrar</button>
                    </div>

            </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.js"></script>
    <script src="{{ asset('assets/js/booking.js') }}"></script>


    <script type="text/javascript">
        var url = "{{ path('booking_new', {'date': 'info.dateStr'}) }}";
        var eventSourceUrl = "{{ path('fc_load_events') }}";
    </script>
{% endblock %}