{% extends 'base.html.twig' %}

{% block title %}Turno{% endblock %}

{% block body %}
    <h1>Turno</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Comienza</th>
                <td>{{ booking.beginAt ? booking.beginAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Finaliza</th>
                <td>{{ booking.endAt ? booking.endAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Titulo</th>
                <td>{{ booking.title }}</td>
            </tr>
            <tr>
                <th>Profesional</th>
                <td>{{ booking.doctor.getNombreApellido() }}</td>
            </tr>
            <tr>
                <th>Paciente</th>
                <td>{{ booking.cliente.getNombreApellido() }}</td>
            </tr>
            <tr>
                <th>Se repite</th>
                <td>
                    {% for dia in booking.dias%}
                        {% if(dia == 1) %}
                            Lunes
                        {% endif %}
                        {% if(dia == 2) %}
                            Martes
                        {% endif %}
                        {% if(dia == 3) %}
                            Miercoles
                        {% endif %}
                        {% if(dia == 4) %}
                            Jueves
                        {% endif %}
                        {% if(dia == 5) %}
                            Viernes
                        {% endif %}
                        {% if(dia == 6) %}
                            Sábado
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Hasta</th>
                <td>{{ booking.hasta ? booking.hasta|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-default" href="javascript:history.back();">Volver</a>
    <a class="btn btn-success" href="{{ path('booking_edit', {'id': booking.id}) }}">Editar</a>
    <br><br>
{% endblock %}
