{{ form_start(form) }}
<br>
<div class="form-row">
    <div class="col-sm">
        <h4>Adjuntos Actuales</h4>
        <div class="table-responsive">
            <table class="table">
                {% for adjunto in adjuntosActuales %}
                    <tr>
                        <td>
                            {% if (adjunto[0].tipo == 1) %}
                                Documentación
                            {% elseif (adjunto[0].tipo == 2) %}
                                Novedades
                            {% elseif (adjunto[0].tipo == 3) %}
                                Certificados Médicos
                            {% elseif (adjunto[0].tipo == 4) %}
                                Evaluaciones
                            {% elseif (adjunto[0].tipo == 5) %}
                                Otros
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                        {% for adjuntoInner in adjunto %}

                                <a target="_blank" href="{{ asset('uploads/adjuntos/staff/') }}{{ staff.id }}/{{  adjuntoInner.tipo }}/{{  adjuntoInner.url }}" >{{  adjuntoInner.nombre }}</a>

                        {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
<br>
<hr>
<br>
<div class="form-row">
    <div class="col-sm">
        {{ form_label(form.nombre, 'Nombre del adjunto') }}
        {{ form_widget(form.nombre) }}
    </div>
    <div class="col-sm">
        {{ form_label(form.tipo, 'Tipo de adjunto') }}
        {{ form_widget(form.tipo) }}
    </div>
</div>
<br>

<br><br>
<div class="form-row">
    <div class="col-sm">
        {{ form_label(form.archivoAdjunto, 'Adjuntar') }}
        {{ form_widget(form.archivoAdjunto) }}
    </div>
</div>
<br>
<br>
<div class="form-group">
    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
    <a class="btn btn-default" href="{{ path('doctor_index') }}">volver</a>
</div>
<br>

{{ form_end(form) }}
