<html lang="en"><head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Bienvenidos!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-datepicker.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/simple-sidebar.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/chosen.css') }}">

        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('assets/images/iconos/apple-touch-icon.png') }} ">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('assets/images/iconos/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/images/iconos//favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('assets/images/iconos//site.webmanifest') }}">
        <link rel="mask-icon" href="{{ asset('assets/images/iconos//safari-pinned-tab.svg') }}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
    {% endblock %}
</head>

<body>

<div class="d-flex" id="wrapper">
    {% if app.user %}
        {{ include('sidebar.html.twig') }}
    {% endif  %}
    <!-- Page Content -->
    <div id="page-content-wrapper">
        {% if app.user %}
            {{ include('navbar.html.twig') }}
        {% endif  %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm{{ titulo_solo is defined ? '-8' : '' }}">
                    <h1 class="mt-4 notRemove title">{% block panelTitle %}{% endblock %}</h1>
                </div>

                <div class="col-sm buttons mt-4">
                    {% block titleButtons %}{% endblock %}
                </div>
                <div class="col-sm" style="align-items: center; justify-content: center; display: flex;">
                    {% block filtros %}{% endblock %}
                </div>
                {% if paginaImprimible is defined and paginaImprimible %}
                <div class="col-sm" style="align-items: center; justify-content: center; display: flex;">
                    <button class="btn btn-default" id="imprimir" style="font-size: 2rem; padding: 1rem 2rem"><i class="fas fa-print"></i></button>
                </div>
                {% endif  %}
            </div>
            <hr>
            <div {#style="margin: 0 auto; overflow: auto"#} class="body-content">
                {% block body %}{% endblock %}
            </div>

        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>

{% if app.user %}
    <!-- Large modal -->
    <div class="modal fade bd-example-modal-lg filtrosPlanilla" tabindex="-1" role="dialog" aria-labelledby="filtros" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Seleccione los campos a imprimir</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form-group columnas-de-dos" id="checkboxes">
                        {% block modalImprimir %} {% endblock %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" id="descargarExcel">Descargar Excel</button>
                        <button type="button" class="btn btn-primary" id="update">Imprimir</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endif %}

<!-- /#wrapper -->
{% block javascripts %}
<!-- Bootstrap core JavaScript -->
<!-- JS, Popper.js, and jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/c917f210f8.js" crossorigin="anonymous"></script>
<script src="{{ asset('assets/js/bootstrap-datepicker.min.js') }}"></script>
<script src="{{ asset('assets/js/main.js') }}"></script>
<script src="{{ asset('assets/js/chosen.jquery.min.js') }}"></script>
<script src='https://cdn.jsdelivr.net/npm/rrule@2.6.4/dist/es5/rrule.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.2.0/main.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/@fullcalendar/rrule@5.2.0/main.global.min.js'></script>
<script src="//cdn.ckeditor.com/4.19.1/basic/ckeditor.js"></script>
<script type="text/javascript">
    let timeout = getCookie('timeout');
    if (timeout) {
        let text;
        if (window.confirm('La sesión se ha terminado por inactividad. Continuar usando el sistema?') === true) {
            set_cookie('keepLogin', '1');
        } else {
            set_cookie('keepLogin', '0');
        }
        set_cookie('timeout', '0');
        location.reload();
    }

    /**
     * Spanish translation for bootstrap-datepicker
     * Bruno Bonamin <bruno.bonamin@gmail.com>
     */
    ;(function($){
        $.fn.datepicker.dates['es'] = {
            days: ["Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado"],
            daysShort: ["Dom", "Lun", "Mar", "Mié", "Jue", "Vie", "Sáb"],
            daysMin: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa"],
            months: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
            monthsShort: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"],
            today: "Hoy",
            monthsTitle: "Meses",
            clear: "Borrar",
            weekStart: 1,
            format: "dd/mm/yyyy"
        };
    }(jQuery));
</script>
{% endblock %}



</body></html>