{% extends 'base.html.twig' %}

{% block title %}Dashboard index{% endblock %}
{% block panelTitle %}Dashboard
    {% if (isContratosVencidos) %}
        <a href="{{ path('doctor_index', {'vencidos': true}) }}"><i class="bell far fa-bell"></i></a>
    {% endif %}
{% endblock %}
{% block body %}
    {% if not app.user %}
        Por favor, ingrese con su usuario y contraseña
        <a href="{{ path('app_login') }}">ingresar</a>
    {% elseif is_granted('ROLE_ADMIN') %}
        <div class="printiable">
            <div class="table-responsive">
                <table class="table dashboard">
                    <thead>
                        <th class="habitacion">Habitacion</th>
                        <th class="paciente">Paciente</th>
                        <th class="obraSocial">Obra Social</th>
                        <th class="patología">Patología</th>
                        <th class="edad">Edad</th>
                        <th class="dieta">Dieta</th>
                    </thead>
                    <tbody>
                        {% for nombre, habitacion in habitacionesYpacientes %}
                        <tr class="{{ ( habitacion.ocupadas is same as (habitacion.disponibles) ) ? 'completa' : 'incompleta' }}">
                            <td class="habitacion">
                                {{ nombre }} - {{ habitacion.ocupadas }} / {{ habitacion.disponibles }}
                            </td>
                            <td class="paciente">
                            {% for key, paciente in habitacion.cliente %}
                                     <span>
                                         {{ paciente.nombre }} {{ paciente.apellido }}
                                     </span>
                                    {% if habitacion.cliente | length > 1 %} <br> {% endif %}
                                    {% if key < habitacion.cliente | length - 1 %} <hr> {% endif %}
                            {% endfor %}
                            </td>
                            <td class="obraSocial">
                                {% for key, paciente in habitacion.cliente %}
                                    <span>
                                        {{ obrasSociales[paciente.obraSocial] }}
                                    </span>
                                    {% if habitacion.cliente|length > 1 %} <br> {% endif %}
                                    {% if key < habitacion.cliente|length - 1 %} <hr> {% endif %}
                                {% endfor %}
                            </td>
                            <td class="patología">
                                {% for key, paciente in habitacion.cliente %}
                                    <span>
                                        {{ paciente.motivoIngEspecifico }}
                                    </span>
                                    {% if habitacion.cliente|length > 1 %} <br> {% endif %}
                                    {% if key < habitacion.cliente|length - 1 %} <hr> {% endif %}
                                {% endfor %}
                            </td>
                            <td class="edad">
                                {% for key, paciente in habitacion.cliente %}
                                    <span>
                                        {{ paciente.edad }}
                                    </span>
                                    {% if habitacion.cliente|length > 1 %} <br> {% endif %}
                                    {% if key < habitacion.cliente|length - 1 %} <hr> {% endif %}
                                {% endfor %}
                            </td>
                            <td class="dieta">
                                {% for key, paciente in habitacion.cliente %}
                                    <span>
                                        {{ paciente.dieta }}
                                    </span>
                                    {% if habitacion.cliente|length > 1 %} <br> {% endif %}
                                    {% if key < habitacion.cliente|length - 1 %} <hr> {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% elseif  is_granted('ROLE_STAFF')%}
        <div class="container">
            <div class="row">
                {% if isDoctor %}
                    <div class="col-md-4">
                        <a href="{{ path('doctor_agenda', {'periodo': 'dia'}) }}">
                            <div class="card text-white mb-3 usuariosOnDash" style="max-width: 18rem;">
                                <div class="card-header">Agenda</div>
                                <div class="card-body">
                                    <p class="card-text">Turnos y eventos</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block modalImprimir %}
    <div class="form-check">
        <input class="form-check-input check" type="checkbox" value="habitacion" id="habitacion">
        <label class="form-check-label" for="habitacion">
            Habitacion
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input check" type="checkbox" value="paciente" id="paciente">
        <label class="form-check-label" for="paciente">
            Paciente
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input check" type="checkbox" value="obraSocial" id="obraSocial">
        <label class="form-check-label" for="obraSocial">
            O. Social
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input check" type="checkbox" value="dieta" id="dieta">
        <label class="form-check-label" for="dieta">
            Dieta
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input check" type="checkbox" value="edad" id="edad">
        <label class="form-check-label" for="edad">
            Edad
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="todos" id="todos">
        <label class="form-check-label" for="todos">
            Todos
        </label>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/dashboard.js') }}"></script>
    <script>
        let printUrl = "{{ path('imprimir') }}";
    </script>
{% endblock %}