{% extends 'base.html.twig' %}

{% block title %}Novedades index{% endblock %}
{% block panelTitle %}Novedades <br><span style="font-size: 15px;">{{modalidad}}</span>{% endblock %}
{% block titleButtons %}
    {% if (hayContratosVencidos or hayVencenEsteMes) and is_granted('ROLE_ADMIN') %}
        <a href="{{ path('doctor_index', {'vencidos': (hayContratosVencidos) ? 1 : 2}) }}">
            <i class="bell far fa-bell" style="color: {{ colorCampana }}"></i>
        </a>
    {% endif %}
{% endblock %}

{% block filtros %}
    {% if is_granted('ROLE_ADMIN') %}

        {#filtros#}
        <div class="col-sm" style="align-items: center; justify-content: center; display: flex;">
            <button class="btn btn-default" data-toggle="modal" data-target="#filtros"><i class="fas fa-filter"></i></button>
        </div>
        <div class="modal bd-example-modal-xl camposExtras" id="filtros" tabindex="-1" role="dialog" aria-labelledby="filtros" aria-hidden="true">
            <div class="m-4">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Filtrar</h5>
                        <button type="button" class="close" data-dismiss="modal" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div class="form-group columnas-de-dos">
                            <label for="contrato">Desde</label>
                                <input class="form-control" type="date" id="from" name="from">
                            <label for="contrato">Hasta</label>
                                <input class="form-control" type="date" id="to" name="to">
                        </div>
                        <div class="form-group text-right">
                            <button type="button" id="filtrarPorFecha" class="btn btn-primary">Buscar</button>
                            <button type="button" id="printFiltrado" class="btn btn-secondary">Imprimir</button>
                        </div>
                        <div class="form-group text-center" style="overflow: auto;">
                            <img id="loading" src="{{ asset('assets/images/loading.gif') }}">
                            <table class="table table-striped" id="resultados" >
                                <thead id="head">
                                </thead>
                                <tbody id="body"></tbody>
                                <tfoot id="foot"></tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}
{% endblock %}

{% block body %}
    {% if not app.user %}
        Por favor, ingrese con su usuario y contraseña
        <a href="{{ path('app_login') }}">ingresar</a>
    {% elseif is_granted('ROLE_ADMIN') %}
        <div class="printiable">
            <div class="table-responsive">
                <table class="table dashboard border-0 mb-0">
                    <thead>
                        <th class="habitacion">Habitacion</th>
                        <th class="paciente">Paciente</th>
                        <th class="obraSocial">Obra Social</th>
                        <th class="patología">Patología</th>
                        <th class="edad">Edad</th>
                        <th class="dieta">Dieta</th>
                    </thead>
                    <tbody>
                        {% for key, data in habitacionesYpacientes %}
                            <tr class="{{ ( data.disponibles ) ? 'incompleta' : 'completa' }}">
                                <td class="habitacion" colspan="6">
                                    {% set habitacion = habitacionRepository.find(key) %}
                                    {% set nombreHabitacion = habitacion.nombre ?? 'habitacion borrada'%}
                                    {{ nombreHabitacion }} - {{ data.disponibles }} / {{ data.totales }} 
                                </td>
                            </tr>
                                {% for paciente in data.clientes %}
                                <tr>
                                    <td class="border-0"></td>
                                    <td class="paciente border-0" >
                                         <a href="{{ path('cliente_historial', {id: paciente.id}) }}">{{ paciente.nombre }} {{ paciente.apellido }}</a>
                                    </td>
                                    <td class="obraSocial {{ (data.clientes | length > 1 and key != 0) ? '' : 'border-0' }}">
                                        <div>{{ paciente.obraSocial.nombre ?? 'No Tiene' }}</div>
                                    </td>
                                    <td class="patología {{ (data.clientes | length > 1 and key != 0) ? '' : 'border-0' }}">
                                        {{ paciente.motivoIngEspecifico }}
                                    </td>
                                    <td class="edad {{ (data.clientes | length > 1 and key != 0) ? '' : 'border-0' }}">
                                        {{ paciente.edad }}
                                    </td>
                                    <td class="dieta {{ (data.clientes | length > 1 and key != 0) ? '' : 'border-0' }}">
                                        {{ paciente.dieta }}
                                    </td>
                                </tr>
                                {% endfor %}
                            
                            
                            
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% elseif  is_granted('ROLE_STAFF')%}
        <div class="container">
            <div class="row">
                {% if isDoctor %}
                    <div class="col-md-4">
                        <a href="{{ path('doctor_agenda', {'periodo': 'dia'}) }}">
                            <div class="card text-white mb-3 usuariosOnDash" style="max-width: 18rem;">
                                <div class="card-header">Agenda</div>
                                <div class="card-body">
                                    <p class="card-text">Turnos y eventos</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="{{ path('doctor_historia') }}">
                            <div class="card text-white mb-3 clientesOnDash" style="max-width: 18rem;">
                                <div class="card-header">Pacientes</div>
                                <div class="card-body">
                                    <p class="card-text">Historias Clínicas</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="{{ path('liquidar', {'id': app.user.id}) }}">
                            <div class="card text-white mb-3 staffOnDash" style="max-width: 18rem;">
                                <div class="card-header">Liquidaciones</div>
                                <div class="card-body">
                                    <p class="card-text">Imprimir y exportar liquidaciones</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endif %}
                {% if isEnfermero %}
                    <div class="col-md-4">
                        <a href="{{ path('prescripcion_index', {'id': app.user.id}) }}">
                            <div class="card text-white mb-3 staffOnDash" style="max-width: 18rem;">
                                <div class="card-header">Prescripciones</div>
                                <div class="card-body">
                                    <p class="card-text">Prescripciones Médicas por pacientes</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block modalImprimir %}
    <div class="form-check">
        <input class="form-check-input check" type="checkbox" value="habitacion" id="habitacion">
        <label class="form-check-label" for="habitacion">
            Habitacion
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input check" type="checkbox" value="paciente" id="paciente">
        <label class="form-check-label" for="paciente">
            Paciente
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input check" type="checkbox" value="obraSocial" id="obraSocial">
        <label class="form-check-label" for="obraSocial">
            O. Social
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input check" type="checkbox" value="patologia" id="patologia">
        <label class="form-check-label" for="patologia">
            Patología
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input check" type="checkbox" value="dieta" id="dieta">
        <label class="form-check-label" for="dieta">
            Dieta
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input check" type="checkbox" value="edad" id="edad">
        <label class="form-check-label" for="edad">
            Edad
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="todos" id="todos">
        <label class="form-check-label" for="todos">
            Todos
        </label>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/dashboard.js') }}"></script>
    <script>
        var tituloExcel = 'dashboard.xlsx';
        let printUrl = "{{ path('imprimir') }}";

        $('#filtrarPorFecha').click(function () {
            $('#loading').show();

            let from = $('#from').val();
            let to = $('#to').val();

            if (from === '' || to === '') {
                alert('Debe completar las fechas');
                $('#loading').hide();
                return 0;
            }

            var headerFrom = new Date(from);
            var headerTo = new Date(to);

            if (headerTo < headerFrom) {
                alert('La fecha desde debe ser mayor a la fecha hasta');
                $('#loading').hide();
                return 0;
            }
            let needOneMore = true;
            if (headerTo.toLocaleDateString() === headerFrom.toLocaleDateString()) {
                headerTo.setDate(headerTo.getDate()+1);
                needOneMore = false;
            }

            let html_header = '<th>Cliente</th><th style="min-width: 100px;">O. Social</th>';
            let dateIndex = 0;

            while (headerFrom.toLocaleDateString() !== headerTo.toLocaleDateString()) {
                headerFrom.setDate(headerFrom.getDate()+1);
                html_header += '<th>' + headerFrom.toLocaleDateString() + '<br><span id=totales-'+dateIndex+' class="small"></span></th>';
                dateIndex ++;
            }

            if (needOneMore) {
                headerFrom.setDate(headerFrom.getDate()+1);
                html_header += '<th>' + headerFrom.toLocaleDateString() + '<br><span id=totales-'+dateIndex+' class="small"></span></th>';
            }

            $("#head").html(html_header);

            $.post({
                url: "{{ path('dashboard_index_filtro_cantidad_pacientes') }}",
                data: {
                    from: from,
                    to: to,
                },
                success: function (response) {
                    let html = '';
                    let fechaCheck = '';
                    let i = 0;
                    if (response.clientes) {
                        Object.keys(response.clientes).forEach(function(k, v) {
                            html += '<tr><td>'+ k +'</td>';

                            Object.keys(response.clientes[k]).forEach(function(i) {
                                html += '<td>'+ i +'</td>';

                                Object.keys(response.clientes[k][i]).forEach(function(e) {
                                    html += '<td>';
                                    if (response.clientes[k][i][e].habitacion !== undefined) {
                                        html += 'hab: '+response.clientes[k][i][e].habitacion;
                                        if (response.clientes[k][i][e].cama !== undefined) {
                                            html += ' <br> cama: '+ response.clientes[k][i][e].cama;
                                        }
                                    } else {
                                        html += " - ";
                                    }
                                    html +='</td>';
                                });
                            })
                            html += '</tr>';
                        });
                        let dateIndex = 0;
                        for (const key in response.totales) {
                            let texto = 'TOTAL PACIENTES: ' + response.totales[key];
                            $('#totales-' + dateIndex).text(texto);

                            for(const otra in response.docReferentes[key]) {
                                let esp = document.createElement("div");
                                esp.innerHTML = otra +': ' + response.docReferentes[key][otra];
                                document.getElementById('totales-' + dateIndex).appendChild(esp);
                            }

                            dateIndex ++;
                        }
                    }

                    $('#body').html(html);
                    $('#loading').hide();
                    $('#resultado').show();

                },
                error: function(e){
                    console.log(e);
                    alert("algo salio mal");
                    $('#loading').hide();
                }
            });

        })

        $('#printFiltrado').click(function () {
            let html = '<head>' + $('head').html() + '</head>';
            html += $('#resultados').parent().html().trim();
            imprimirElemento(html);
        });

    </script>
{% endblock %}