{% extends 'base.html.twig' %}

{% block title %}Dashboard index{% endblock %}
{% block panelTitle %}Dashboard{% endblock %}
{% block body %}
    {% if not app.user %}
        Por favor, ingrese con su usuario y contraseña
        <a href="{{ path('app_login') }}">ingresar</a>
    {% elseif is_granted('ROLE_ADMIN') %}
        <div class="">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <th>Habitacion</th>
                        <th>Paciente</th>
                        <th>Obra Social</th>
                        <th>Patología</th>
                        <th>Edad</th>
                        <th>Dieta</th>
                    </thead>
                    <tbody>
                        {% for habitacion, pacientes in habitacionesYpacientes %}
                        <tr>
                            <td>{{ habitacion }}</td>
                            <td>
                            {% for key, paciente in pacientes %}
                                    {{ paciente.nombre }} {{ paciente.apellido }}
                                    {% if pacientes|length > 1 %} <br> {% endif %}
                                    {% if key < pacientes|length - 1 %} <hr> {% endif %}
                            {% endfor %}
                            </td>
                            <td>
                                {% for key, paciente in pacientes %}
                                    {{ obrasSociales[paciente.obraSocial] }}
                                    {% if pacientes|length > 1 %} <br> {% endif %}
                                    {% if key < pacientes|length - 1 %} <hr> {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                {% for key, paciente in pacientes %}
                                    {{ paciente.motivoIngEspecifico }}
                                    {% if pacientes|length > 1 %} <br> {% endif %}
                                    {% if key < pacientes|length - 1 %} <hr> {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                {% for key, paciente in pacientes %}
                                    {{ paciente.edad }}
                                    {% if pacientes|length > 1 %} <br> {% endif %}
                                    {% if key < pacientes|length - 1 %} <hr> {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                {% for key, paciente in pacientes %}
                                    {{ paciente.dieta }}
                                    {% if pacientes|length > 1 %} <br> {% endif %}
                                    {% if key < pacientes|length - 1 %} <hr> {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% elseif  is_granted('ROLE_STAFF')%}
        <div class="container">
            <div class="row">
                {% if isDoctor %}
                    <div class="col-md-4">
                        <a href="{{ path('doctor_agenda', {'periodo': 'dia'}) }}">
                            <div class="card text-white mb-3 usuariosOnDash" style="max-width: 18rem;">
                                <div class="card-header">Agenda</div>
                                <div class="card-body">
                                    <p class="card-text">Turnos y eventos</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}
