{% extends 'base.html.twig' %}

{% block title %}Dashboard index{% endblock %}
{% block panelTitle %}Dashboard{% endblock %}
{% block body %}
    {% if not app.user %}
        Por favor, ingrese con su usuario y contraseña
        <a href="{{ path('app_login') }}">ingresar</a>
    {% elseif is_granted('ROLE_ADMIN') %}
        <div class="container">
            <div class="row">

                <div class="col-md-4">
                    <a href="{{ path('user_index') }}">
                        <div class="card text-white mb-3 usuariosOnDash" style="max-width: 18rem;">
                            <div class="card-header">Administradores</div>
                            <div class="card-body">
                                <p class="card-text">Gestor de Administradores del sistema</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-4">
                    <a href="{{ path('doctor_index') }}">
                        <div class="card text-white staffOnDash mb-3" style="max-width: 18rem;">
                            <div class="card-header ">Staff</div>
                            <div class="card-body">
                                <p class="card-text">Desde este gestor se crean y administran los Miembros del Staff</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-4">
                    <a href="{{ path('cliente_index') }}">
                        <div class="card text-white clientesOnDash mb-3" style="max-width: 18rem;">
                            <div class="card-header ">Pacientes</div>
                            <div class="card-body">
                                <p class="card-text">Desde este gestor se crean y administran los Pacientes</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <a href="{{ path('habitacion_index') }}">
                        <div class="card text-white clientesOnDash mb-3" style="max-width: 18rem;">
                            <div class="card-header ">Habitaciones</div>
                            <div class="card-body">
                                <p class="card-text">Desde este gestor se pueden crear nuevas habitaciones con sus respectivas camas</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-4">
                    <a href="{{ path('obra_social_index') }}">
                        <div class="card text-white mb-3 usuariosOnDash" style="max-width: 18rem;">
                            <div class="card-header">Obras Sociales</div>
                            <div class="card-body">
                                <p class="card-text">Gestor para Obras sociales</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-4">
                    <a href="{{ path('booking_calendar') }}">
                        <div class="card text-white staffOnDash mb-3" style="max-width: 18rem;">
                            <div class="card-header ">Turnos</div>
                            <div class="card-body">
                                <p class="card-text">Gestor de turnos para pacientes</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <a href="{{ path('liquidaciones_index') }}">
                        <div class="card text-white staffOnDash mb-3" style="max-width: 18rem;">
                            <div class="card-header ">Liquidaciones</div>
                            <div class="card-body">
                                <p class="card-text">Desde este gestor se pueden crear y ver las liquidaciones</p>
                            </div>
                        </div>
                    </a>
                </div>


            </div>

        </div>
    {% elseif  is_granted('ROLE_STAFF')%}
        <div class="container">
            <div class="row">
                {% if isDoctor %}
                    <div class="col-md-4">
                        <a href="{{ path('doctor_agenda', {'periodo': 'dia'}) }}">
                            <div class="card text-white mb-3 usuariosOnDash" style="max-width: 18rem;">
                                <div class="card-header">Agenda</div>
                                <div class="card-body">
                                    <p class="card-text">Turnos y eventos</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}
