{% extends 'base.html.twig' %}

{% block title %}Dashboard index{% endblock %}
{% block panelTitle %}Dashboard{% endblock %}
{% block titleButtons %}
    {% if (hayContratosVencidos or hayVencenEsteMes) and is_granted('ROLE_ADMIN') %}
        <a href="{{ path('doctor_index', {'vencidos': (hayContratosVencidos) ? 1 : 2}) }}">
            <i class="bell far fa-bell" style="color: {{ colorCampana }}"></i>
        </a>
    {% endif %}
{% endblock %}

{% block filtros %}
    {% if is_granted('ROLE_ADMIN') %}

        {#filtros#}
        <div class="col-sm" style="align-items: center; justify-content: center; display: flex;">
            <button class="btn btn-default" data-toggle="modal" data-target="#filtros"><i class="fas fa-filter"></i></button>
        </div>
        <div class="modal fade bd-example-modal-xl camposExtras" id="filtros" tabindex="-1" role="dialog" aria-labelledby="filtros" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Filtrar</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div class="form-group columnas-de-dos">
                            <label for="contrato">Desde</label>
                                <input class="form-control" type="date" id="from">
                            <label for="contrato">Hasta</label>
                            <input class="form-control" type="date" id="to">
                        </div>
                        <div class="form-group text-right">
                            <span class="btn bg-secondary text-white" style="cursor: default" id="pacientesCount"></span>
                            <button type="button" id="filtrarPorFecha" class="btn btn-primary">Buscar</button>
                        </div>
                        <div class="form-group text-center" style="overflow: auto;">
                            <img id="loading" src="{{ asset('assets/images/loading.gif') }}">
                            <table class="table table-striped" id="resultados" >
                                <thead id="head">
                                </thead>
                                <tbody id="body"></tbody>
                                <tfoot id="foot"></tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}
{% endblock %}

{% block body %}
    {% if not app.user %}
        Por favor, ingrese con su usuario y contraseña
        <a href="{{ path('app_login') }}">ingresar</a>
    {% elseif is_granted('ROLE_ADMIN') %}
        <div class="printiable">
            <div class="table-responsive">
                <table class="table dashboard border-0 mb-0">
                    <thead>
                        <th class="habitacion">Habitacion</th>
                        <th class="paciente">Paciente</th>
                        <th class="obraSocial">Obra Social</th>
                        <th class="patología">Patología</th>
                        <th class="edad">Edad</th>
                        <th class="dieta">Dieta</th>
                    </thead>
                    <tbody>
                        {% for nombre, habitacion in habitacionesYpacientes %}
                            {% set nombreHabitacionAnterior = "nuevo"  %}
                            {% for key, paciente in habitacion.cliente %}
                                <tr class="{{ ( habitacion.ocupadas is same as (habitacion.disponibles) ) ? 'completa' : 'incompleta' }}">
                                    <td class="habitacion {{ (habitacion.cliente | length > 1 and key != 0) ? '' : 'border-0' }}">
                                        {% if (nombre != nombreHabitacionAnterior) %}
                                            {{ nombre }} - {{ habitacion.ocupadas }} / {{ habitacion.disponibles }}
                                        {% endif %}
                                    </td>
                                    <td class="paciente {{ (habitacion.cliente | length > 1 and key != 0) ? '' : 'border-0' }}" >
                                         <a href="{{ path('cliente_show', {id: paciente.id}) }}">{{ paciente.nombre }} {{ paciente.apellido }}</a>
                                    </td>
                                    <td class="obraSocial {{ (habitacion.cliente | length > 1 and key != 0) ? '' : 'border-0' }}">
                                        {{ obrasSociales[paciente.obraSocial] }}
                                    </td>
                                    <td class="patología {{ (habitacion.cliente | length > 1 and key != 0) ? '' : 'border-0' }}">
                                        {{ paciente.motivoIngEspecifico }}
                                    </td>
                                    <td class="edad {{ (habitacion.cliente | length > 1 and key != 0) ? '' : 'border-0' }}">
                                        {{ paciente.edad }}
                                    </td>
                                    <td class="dieta {{ (habitacion.cliente | length > 1 and key != 0) ? '' : 'border-0' }}">
                                        {{ paciente.dieta }}
                                    </td>
                                </tr>
                                {% set nombreHabitacionAnterior = nombre %}
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% elseif  is_granted('ROLE_STAFF')%}
        <div class="container">
            <div class="row">
                {% if isDoctor %}
                    <div class="col-md-4">
                        <a href="{{ path('doctor_agenda', {'periodo': 'dia'}) }}">
                            <div class="card text-white mb-3 usuariosOnDash" style="max-width: 18rem;">
                                <div class="card-header">Agenda</div>
                                <div class="card-body">
                                    <p class="card-text">Turnos y eventos</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="{{ path('doctor_historia') }}">
                            <div class="card text-white mb-3 clientesOnDash" style="max-width: 18rem;">
                                <div class="card-header">Pacientes</div>
                                <div class="card-body">
                                    <p class="card-text">Historias Clínicas</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block modalImprimir %}
    <div class="form-check">
        <input class="form-check-input check" type="checkbox" value="habitacion" id="habitacion">
        <label class="form-check-label" for="habitacion">
            Habitacion
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input check" type="checkbox" value="paciente" id="paciente">
        <label class="form-check-label" for="paciente">
            Paciente
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input check" type="checkbox" value="obraSocial" id="obraSocial">
        <label class="form-check-label" for="obraSocial">
            O. Social
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input check" type="checkbox" value="patologia" id="patologia">
        <label class="form-check-label" for="patologia">
            Patología
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input check" type="checkbox" value="dieta" id="dieta">
        <label class="form-check-label" for="dieta">
            Dieta
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input check" type="checkbox" value="edad" id="edad">
        <label class="form-check-label" for="edad">
            Edad
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="todos" id="todos">
        <label class="form-check-label" for="todos">
            Todos
        </label>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/dashboard.js') }}"></script>
    <script>
        var tituloExcel = 'dashboard.xlsx';
        let printUrl = "{{ path('imprimir') }}";

        $('#filtrarPorFecha').click(function () {
            $('#loading').show();

            let from = $('#from').val();
            let to = $('#to').val();
            let headerFrom = new Date(from);
            let headerTo = new Date(to);

            if (from === '' || to === '') {
                alert('Debe completar las fechas');
                $('#loading').hide();
                return 0;
            }

            if (headerTo < headerFrom) {
                alert('La fecha desde debe ser mayor a la fecha hasta');
                $('#loading').hide();
                return 0;
            }
            let needOneMore = true;
            if (headerTo.toLocaleDateString() === headerFrom.toLocaleDateString()) {
                headerTo.setDate(headerTo.getDate()+1);
                needOneMore = false;
            }

            let html_header = '<th>Cliente</th><th style="min-width: 100px;">O. Social</th>';
            let dateIndex = 0;

            while (headerFrom.toLocaleDateString() !== headerTo.toLocaleDateString()) {
                headerFrom.setDate(headerFrom.getDate()+1);
                html_header += '<th id="date-index-'+dateIndex+'">' + headerFrom.toLocaleDateString(); + '</th>';
                dateIndex ++;
            }

            if (needOneMore) {
                headerFrom.setDate(headerFrom.getDate()+1);
                html_header += '<th>' + headerFrom.toLocaleDateString(); + '</th>';
            }

            $("#head").html(html_header);

            $.post({
                url: "{{ path('dashboard_index_filtro_cantidad_pacientes') }}",
                data: {
                    from: from,
                    to: to,
                },
                success: function (response) {
                    let html = '';
                    let fechaCheck = '';
                    let i = 0;

                    Object.keys(response).forEach(function(k, v) {
                        html += '<tr><td>'+ k +'</td>';

                        Object.keys(response[k]).forEach(function(i) {
                            html += '<td>'+ i +'</td>';

                            Object.keys(response[k][i]).forEach(function(e) {
                                html += '<td>';
                                if (response[k][i][e].habitacion !== undefined) {
                                    html += 'hab: '+response[k][i][e].habitacion;
                                    if (response[k][i][e].cama !== undefined) {
                                        html += ' <br> cama: '+ response[k][i][e].cama;
                                    }
                                } else {
                                    html += " - ";
                                }
                                html +='</td>';
                            });
                        })
                        html += '</tr>';
                    });

                    $('#body').html(html);
                    $('#loading').hide();
                    $('#resultado').show();
                    $('#pacientesCount').html(response.length + ' Pacientes en Total');
                },
                error: function(e){
                    console.log(e);
                    alert("algo salio mal");
                    $('#loading').hide();
                }
            });

        })

    </script>
{% endblock %}