
<!-- Sidebar -->
<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Start Bootstrap </div>
    <div class="list-group list-group-flush">
        {% if app.user %}
            <a class="list-group-item list-group-item-action bg-light " href="{{ path('dashboard_index') }}">
                <i class="fas fa-chart-line"></i>
                Dashboard
            </a>
        {% endif %}
        {% if app.user and 'ROLE_ADMIN' in app.user.roles %}
            <a class="list-group-item list-group-item-action bg-light " href="{{ path('user_index') }}">
                <i class="fas fa-users"></i>
                Administradores
            </a>
            <a class="list-group-item list-group-item-action bg-light " href="{{ path('doctor_index') }}">
                <i class="fas fa-user-md"></i>
                Staff
            </a>
            <div class="dropdown show dropright ">
                <a class="list-group-item list-group-item-action bg-light" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-injured"></i>
                    Paciente <span class="float-right"> > </span>
                </a>

                <div class="dropdown-menu " aria-labelledby="dropdownMenuLink">
                    <a class="text-white dropdown-item" href="{{ path('cliente_index') }}">
                        Listado
                    </a>
                    <a class="text-white dropdown-item" href="{{ path('cliente_historicos')}}">
                        Historico
                    </a>
                </div>
            </div>
            <a class="list-group-item list-group-item-action bg-light " href="{{ path('booking_calendar') }}">
                <i class="far fa-calendar-alt"></i>
                Turnos
            </a>
            <a class="list-group-item list-group-item-action bg-light " href="{{ path('habitacion_index') }}">
                <i class="fas fa-bed"></i>
                Habitaciones
            </a>
            <a class="list-group-item list-group-item-action bg-light " href="{{ path('obra_social_index') }}">
                <i class="fas fa-first-aid"></i>
                Obras Sociales
            </a>
            <a class="list-group-item list-group-item-action bg-light " href="{{ path('liquidaciones_index') }}">
                <i class="fas fa-money-check-alt"></i>
                Liquidaciones
            </a>
            <a class="list-group-item list-group-item-action bg-light " href="{{ path('consumible_index') }}">
                <i class="fas fa-band-aid"></i>
                Consumibles
            </a>
        {% elseif  is_granted('ROLE_STAFF')%}
            {% if isDoctor is defined and isDoctor %}
                <a class="list-group-item list-group-item-action bg-light " href="{{ path('doctor_agenda', {'periodo': 'dia'}) }}">
                    <i class="far fa-calendar-alt"></i>
                    Agenda
                </a>
                <a class="list-group-item list-group-item-action bg-light " href="{{ path('doctor_historia') }}">
                    <i class="fas fa-user-injured"></i>
                    Pacientes
                </a>
                <a class="list-group-item list-group-item-action bg-light " href="{{ path('liquidar', {'id': app.user.id}) }}">
                    <i class="fas fa-money-check-alt"></i>
                    Liquidaciones
                </a>
            {% elseif isEnfermero is defined and isEnfermero %}
                <a class="list-group-item list-group-item-action bg-light " href="{{ path('prescripcion_index', {'id': app.user.id}) }}">
                    <i class="fas fa-user-nurse"></i>
                    Prescripciones Médicas
                </a>
            {% endif %}
        {% endif %}
        {% if app.user %}
            <a class="list-group-item list-group-item-action bg-light " href="{{ path('app_logout') }}">
                <i class="fas fa-chevron-circle-left"></i>
                Salir
            </a>
        {% endif %}
    </div>
</div>
<!-- /#sidebar-wrapper -->
