{% extends 'base.html.twig' %}

{% block title %}Notas para el turno{% endblock %}
{% block panelTitle %}Notas{% endblock %}
{% block body %}
    <h1>NotasTurno</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Text</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for notas_turno in notas_turnos %}
            <tr>
                <td>{{ notas_turno.id }}</td>
                <td>{{ notas_turno.text }}</td>
                <td>
                    <a href="{{ path('notas_turno_show', {'id': notas_turno.id}) }}">show</a>
                    <a href="{{ path('notas_turno_edit', {'id': notas_turno.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('notas_turno_new') }}">Create new</a>
{% endblock %}
