{{ form_start(form) }}
<br>
<div class="form-row">
    <div class="col-sm">
        {{ form_label(form.email, 'Email') }}
        {{ form_widget(form.email, {'attr': { 'data-staff_check_email-url' : path('staff_check_email'), 'data-user-id' : user.id }}) }}
        <div class="invalid-feedback">
            El correo no es válido.
        </div>
    </div>
    <div class="col-sm"></div>
</div>
<br>
<div class="form-row">
    <div class="col-sm">
        {{ form_label(form.legajo, 'legajo') }}
        {{ form_widget(form.legajo) }}
    </div>
    <div class="col-sm"></div>
</div>
<br>
<div class="form-row">
    <div class="col-sm">
        {{ form_label(form.password, 'password') }}
        {{ form_widget(form.password) }}
    </div>
    <div class="col-sm"></div>
</div>
<br>
<div class="form-row">
    <div class="col-sm">
        {{ form_label(form.roles, 'Roles') }}
        {{ form_widget(form.roles) }}
    </div>
</div><br>
<div class="form-row">
    <div class="col-sm">
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
        <a class="btn btn-default" href="{{ path('user_index') }}">volver</a>
    </div>
</div>
{{ form_end(form) }}
