{{ form_start(form) }}
<br>
<div class="form-row">
    <div class="col-sm">
        {{ form_label(form.username, 'Nombre de Usuario') }}
        {{ form_widget(form.username) }}
    </div>
    <div class="col-sm">
        {{ form_label(form.password, 'Password') }}
        {{ form_widget(form.password) }}
    </div>
</div>
<br>
<div class="form-row">
    <div class="col-sm">
        {{ form_label(form.email, 'Email') }}
        {{ form_widget(form.email, {'attr': { 'data-staff_check_email-url' : path('staff_check_email'), 'data-user-id' : user.id }}) }}
    </div>
    <div class="col-sm">
        {{ form_label(form.telefono, 'Teléfono') }}
        {{ form_widget(form.telefono) }}
    </div>
    <div class="col-sm">
        {{ form_label(form.legajo, 'Legajo') }}
        {{ form_widget(form.legajo) }}
    </div>
</div>
<br>
<div class="form-row">
    <div class="col-sm">
        {{ form_label(form.roles, 'Roles') }}
        {{ form_widget(form.roles) }}
    </div>
</div>
<br>
<div class="form-row">
    <div class="col-sm">
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
        <a class="btn btn-default" href="{{ path('user_index') }}">volver</a>
    </div>
</div>
<br><br>
{{ form_end(form) }}
