{% extends 'base.html.twig' %}

{% block title %}Administradores{% endblock %}
{% block panelTitle %}Administradores{% endblock %}
{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Roles</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>
                    {% for role in user.roles %}
                        {% if role == "ROLE_ADMIN" %}
                            Administrador
                        {% elseif role == "ROLE_USER" %}
                            Operador
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{ user.email }}</td>
                <td>{{ user.telefono }}</td>
                <td>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No se encontraron Usuarios Administradores</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}">Crear nuevo Usuario Administrador</a>
{% endblock %}
